.base::before {
  content: '';
  background-image: radial-gradient(
      18em at 30% 18em,
      var(--dimmest-accent-color),
      transparent
    ),
    radial-gradient(15em at 70% 25em, var(--dimmer-secondary-accent-color), transparent);

  width: 100%;
  height: 40em;
  position: absolute;
  left: 0;
  pointer-events: none;
}

.subsection {
  display: flex;
  align-items: center;
  justify-items: space-between;

  gap: 2em;
}

.images {
  height: auto;
  width: 100%;

  flex: 4;
}

.subsection p {
  flex: 9;
}

@media (max-width: 800px) {
  .subsection,
  .subsection:nth-child(even) {
    flex-direction: column-reverse;
    gap: 1.75em;
  }

  .images {
    width: 60%;
  }
}

@media (max-width: 450px) {
  .images {
    width: 100%;
  }
}
