.inline {
  display: flex;
  align-items: center;
  gap: 25px;
}

.inline img {
  max-width: calc(40% - 28px);

  padding: 10px;
  border-radius: 20px;
  border: 4px solid var(--quaternary-color);
}

@media (max-width: 700px) {
  .inline {
    flex-direction: column;
    gap: 35px;
  }

  .inline img {
    border-radius: 25px;
    max-width: calc(60% - 28px);
  }
}

@media (max-width: 400px) {
  .inline img {
    border-radius: 25px;
    max-width: calc(100% - 28px);
  }
}
