.base {
  height: 100%;

  overflow-y: scroll;
  scroll-behavior: smooth;

  background-color: var(--primary-color);
  background-image: linear-gradient(transparent, var(--primary-color) 100vh),
    url('/src/assets/svg/background.svg');
  background-attachment: local;
  transition: background-color 0.5s;
}

.base section {
  transition:
    background-color 0.5s,
    box-shadow 0.5s,
    color 0.5s,
    transform 0.2s ease-out;
}

.base.isOnTop section {
  transform: translateY(12rem);
}

.base.isLoading header {
  opacity: 0.25;
}

.base.isLoading section {
  transform: translateY(14rem);
  opacity: 0.25;
}

.base::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--dim-primary-color);
}

.base::-webkit-scrollbar-thumb {
  background-color: var(--secondary-accent-color);
}
