.base {
  height: 100%;

  display: grid;
  justify-items: center;

  gap: 70px;
  grid-gap: 70px;

  overflow-y: scroll;
  scroll-behavior: smooth;
}

.base::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--tertiary-color);
}

.base::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
}
