.base {
  height: 100%;

  overflow-y: scroll;
  scroll-behavior: smooth;

  background-color: var(--primary-color);
  background-image: url('/src/assets/svg/background.svg'),
    linear-gradient(transparent, var(--primary-color) 100vh);
  background-repeat: repeat-y;
  background-attachment: local;
  background-size: 100%;
  transition:
    background-color 0.5s,
    background-image 0.5s;
}

.base section {
  transition:
    background-color 0.5s,
    box-shadow 0.5s,
    color 0.5s,
    transform 0.2s ease-out;
}

.base .seeContentIcon {
  display: none;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: calc(50%);

  height: 2rem;
  width: 2rem;
}

.base .seeContentIcon svg {
  fill: var(--content-color);

  transition:
    fill 0.5s,
    transform 0.2s;
  transform: translateY(20rem) rotate(270deg);
}

.base.isOnTop .seeContentIcon svg {
  fill: var(--content-color);

  transform: translateY(50rem) rotate(270deg);
}

.base.isLoading > * > header {
  opacity: 0.25;
}

.base.isOnTop > * > :not(header) {
  opacity: 0.75;
  transform: translateY(calc(100vh - 34rem));
}

.base.isLoading > * > :not(header) {
  transform: translateY(calc(100vh - 32rem));
  opacity: 0.25;
}

@media (max-width: 950px) {
  .base.isOnTop > * > :not(header) {
    transform: translateY(calc(100vh - 53rem));
  }

  .base.isLoading > * > :not(header) {
    transform: translateY(calc(100vh - 51rem));
  }
}

@media (max-width: 950px) and (max-height: 950px) {
  .base.isOnTop > * > :not(header) {
    transform: translateY(calc(100vh - 43rem));
  }

  .base.isLoading > * > :not(header) {
    transform: translateY(calc(100vh - 41rem));
  }
}

@media (max-width: 950px) and (max-height: 800px) {
  .base.isOnTop > * > :not(header) {
    transform: translateY(calc(100vh - 39rem));
  }

  .base.isLoading > * > :not(header) {
    transform: translateY(calc(100vh - 37rem));
  }
}

@media (max-height: 700px) {
  .base.isOnTop > * > :not(header) {
    transform: translateY(calc(100vh - 30rem));
  }

  .base.isLoading > * > :not(header) {
    transform: translateY(calc(100vh - 28rem));
  }
}

@media (max-height: 500px) {
  .base.isOnTop > * > :not(header) {
    transform: translateY(calc(100vh - 25rem));
  }

  .base.isLoading > * > :not(header) {
    transform: translateY(calc(100vh - 23rem));
  }
}

.base::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--dim-primary-color);
}

.base::-webkit-scrollbar-thumb {
  background-color: var(--secondary-accent-color);
}
