.base {
  background-color: var(--background-color);
  transition: background-color 0.5s ease-out;
}

.sections {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
