.base {
  position: relative;
  height: auto;
  width: 22rem;
  aspect-ratio: 1;
}

.base > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.base .img {
  box-shadow: 0 3rem 2rem 1rem var(--dim-background);
}

@media (max-width: 800px) {
  .base {
    width: 17rem;
  }
}
