.base {
  height: 200px;
  width: 200px;
  padding: 10px;

  border-radius: 50%;
  border: 10px solid var(--shadow-color);

  background-color: var(--font-color);
  background-clip: content-box;
}

.base img {
  border-radius: inherit;

  width: 100.5%;
  opacity: 0;
}
