.base {
  position: relative;
  height: auto;
  width: 19.5rem;
  aspect-ratio: 1;
  margin-bottom: 3.5rem;

  font-size: 0;
  overflow: visible;
}

.box {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80%;
  width: 90%;

  background: linear-gradient(
    to right bottom,
    var(--accent-color),
    var(--secondary-accent-color)
  );
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.base .img {
  clip-path: polygon(22.5% 0%, 94.5% 0%, 72% 100%, 0% 100%);
  box-shadow: 0 3rem 2rem 1rem var(--dim-background);
}

@media (max-width: 800px) {
  .base {
    width: 17rem;
  }
}
