blockquote.base {
  font-family: serif;
  font-size: 2rem;
  text-indent: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;

  margin: 3rem auto;
  padding: 2rem 5rem;

  border-radius: 1.5rem;
}

.base .quote {
  font-size: 4.2rem;
  letter-spacing: 0.05rem;
  line-height: 0;

  padding: 0 0.8rem;
  position: relative;
  top: 1.5rem;
}

.base .author {
  font-size: 1.8rem;
  letter-spacing: 0.15rem;

  align-self: flex-end;
  justify-self: flex-end;
}

@media (max-width: 700px) {
  blockquote.base {
    font-size: 1.6rem;
    padding: 1.5rem 2.5rem;
  }

  .base .author {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  blockquote.base {
    font-size: 1.4rem;
    padding: 1.4rem 1.6rem;
  }

  .base .quote {
    font-size: 3.5rem;
  }

  .base .author {
    font-size: 1.4rem;
  }
}
