.base {
  background-color: var(--secondary-color);
  font-size: 1.5rem;
  font-family: serif;
  line-height: 1.75;
  text-indent: 0.8rem;
  letter-spacing: 0.05rem;

  margin: 50px 0;
  padding: 20px 50px;

  width: 700px;
  border-radius: 25px;
}

.base .quote {
  font-size: 4rem;
  line-height: 0;
  color: var(--dim-color);

  padding: 0 0.5rem;
  position: relative;
  top: 1.5rem;
}

.base .author {
  color: var(--dim-color);
  font-size: 1.6rem;

  letter-spacing: 0.11rem;
  text-align: end;
  padding-top: 1rem;
  padding-right: 1rem;
}

@media (max-width: 700px) {
  .base {
    border-radius: 0;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .base {
    padding: 50px 30px;
  }
}
