.base {
  background-color: var(--tertiary-color);
  font-size: 1.3rem;
  font-family: serif;
  line-height: 2;
  text-indent: 0.8rem;
  letter-spacing: 0.08rem;

  margin: 30px 0;
  padding: 30px 50px;

  width: 650px;
  border-radius: 25px;
}

.base .quote {
  font-size: 3rem;
  line-height: 0;
  color: var(--dim-color);

  padding: 0 0.2rem;
  position: relative;
  top: 1rem;
}

.base .author {
  color: var(--dim-color);

  letter-spacing: 0.11rem;
  text-align: end;
  padding-top: 1rem;
  padding-right: 1rem;
}

@media (max-width: 700px) {
  .base {
    border-radius: 0;
    width: 100%;
  }
}
