.base {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  height: 2.8rem;
  width: max-content;
  padding: 0 1rem;
  border-radius: 1rem;

  color: var(--alternate-foreground-color);
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  text-wrap: nowrap;

  background-image: linear-gradient(
    90deg,
    var(--accent-color) 0%,
    var(--secondary-accent-color) 100%
  );
  background-size: 150% 100%;
  background-position: right;

  transition:
    background-position 0.5s,
    color 0.5s,
    scale 0.2s ease-out;
  will-change: scale;
}

.base:hover {
  scale: 1.01;
  background-position: left;
}

.base:active {
  scale: 0.98;
}

.secondary {
  background: none;
  border: 0.15rem solid var(--secondary-accent-color);
  color: var(--content-color);

  transition:
    border-color 0.5s,
    color 0.5s,
    scale 0.2s ease-out;
  box-shadow: none;
}

.secondary:hover {
  border-color: var(--accent-color);
}

.base > figure {
  height: 50%;
  width: auto;

  flex-shrink: 0;
}

@media (max-width: 700px) {
  .base {
    padding: 0 0.8rem;
    gap: 0.5rem;
  }
}
