.base {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 25px;
}

.base a {
  position: relative;

  width: 4.2rem;
  height: 4.2rem;
  padding: 0;

  border-radius: 50%;
  border: 0.27rem solid var(--quaternary-color);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: border 0.5s;
  text-decoration: none;
}

.base a::after,
.base a::before {
  display: none;
}

.base img {
  width: 55%;
}
