.base::before {
  content: '';
  background-image: radial-gradient(
      18em at 70% 18em,
      var(--dimmer-accent-color),
      transparent
    ),
    radial-gradient(
      40em 15em at 40% 35em,
      var(--dimmest-secondary-accent-color),
      transparent
    );

  width: 100%;
  height: 50em;
  position: absolute;
  left: 0;
  pointer-events: none;
}

.title {
  display: flex;
  align-items: center;
  gap: 4.5em;
}

.contact {
  font-size: 1.125em;
  border-left: 0.15em solid var(--dimmer-foreground-color);
  padding-left: 1em;

  transition: border-color 0.5s;
}

@media (max-width: 500px) {
  .title {
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
  }

  .contact {
    align-self: center;

    border-left: none;
    padding-left: 0;
    border-block: 0.15em solid var(--dimmer-foreground-color);
    padding-block: 0.5em;
  }
}
