.base::before {
  content: '';
  background-image: radial-gradient(
      18rem at 70% 18rem,
      var(--dimmer-accent-color) 0,
      transparent 100%
    ),
    radial-gradient(
      40rem 15rem at 40% 35rem,
      var(--dimmest-secondary-accent-color) 0,
      transparent 100%
    );

  width: 100%;
  height: 50rem;
  position: absolute;
  left: 0;
  pointer-events: none;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 500px) {
  .contacts {
    align-self: flex-start;
  }
}
