.base::before {
  content: '';
  background-image: radial-gradient(
      18rem at 70% 18rem,
      var(--dimmer-accent-color),
      transparent
    ),
    radial-gradient(
      40rem 15rem at 40% 35rem,
      var(--dimmest-secondary-accent-color),
      transparent
    );

  width: 100%;
  height: 50rem;
  position: absolute;
  left: 0;
  pointer-events: none;
}

.title {
  display: flex;
  align-items: center;
  gap: 6.5rem;
}

@media (max-width: 600px) {
  .title {
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .title > div {
    align-self: flex-end;
    gap: 0.625rem;
  }

  .title > div > a {
    height: 2rem;
    width: 2rem;
  }
}
