.base {
  height: 100%;
  width: 3rem;

  position: fixed;
  left: calc(61vw + 280px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 25px;

  opacity: 0;
  transform: translateX(100%);

  animation: appear-x 0.5s forwards;
}

.base.nofloat {
  display: none;
}

.base a {
  position: relative;

  width: 4rem;
  height: 4rem;
  padding: 0;

  border-radius: 50%;
  border: 0.35rem solid var(--tertiary-color);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: border 0.5s;
  text-decoration: none;
}

.base a::after {
  display: none;
}

.base a::before {
  width: calc(100% + 0.7rem);
  height: calc(100% + 0.7rem);
  transform: none;

  top: -0.35rem;
  left: -0.35rem;

  border-radius: 50%;

  box-sizing: border-box;
}

.base img {
  width: 55%;
}

@media (max-width: 900px) {
  .base {
    height: 3rem;
    width: 100%;
    margin-bottom: calc(10vh - 100px);

    position: static;

    flex-direction: row;

    transform: translateY(100%);
    animation: appear-y 0.5s forwards;
  }

  .base.nofloat {
    display: flex;
  }

  .base.nofloat a {
    width: 4rem;
    height: 4rem;
  }
}

@media (max-width: 900px) and (max-height: 750px) {
  .base {
    margin-bottom: -25px;
  }
}

@keyframes appear-x {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-y {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
