.base {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1.6rem;
}

.base a {
  position: relative;

  width: 4.2rem;
  height: 4.2rem;
  padding: 0.8rem;
  border-color: var(--dim-accent-color);
  border-radius: 50%;

  transition: border 0.5s;
}

.base a svg {
  width: 100%;
  height: 100%;
}
