.base {
  width: 100%;
  padding: 25px 35px;

  display: grid;
  grid-template-rows: 1fr max-content 1fr;

  gap: 1.5rem;
  grid-gap: 1.5rem;

  border: 0.35rem solid var(--dim-accent-color);
  border-radius: 15px;

  transition: border 0.5s;
}

.base .header {
  display: grid;
  grid-template-columns: 1fr 3rem;
  align-items: center;
}

.header h3 {
  text-align: left;
}

.base .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  justify-items: center;

  gap: 25px;
  grid-gap: 25px;
}

.content p {
  height: max-content;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.content .images {
  display: grid;
  align-items: center;
  justify-items: center;
}

.images img {
  width: 100%;

  border-radius: 15px;
  border: 0.3rem solid var(--dim-secondary-accent-color);
  padding: 0.5rem;

  grid-area: 1/1;

  opacity: 1 !important;
  animation: none !important;
}

.images img:first-child {
  z-index: 1;
  border-color: transparent;
}

.images img:first-child:hover {
  opacity: 0 !important;
}

.base .skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 20px;
}

.base .skills * {
  border-color: var(--dim-secondary-accent-color);
}

@media (max-width: 700px) {
  .base .content {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
  }
}
