.base {
  background: var(--footer-background-color);
  color: var(--footer-font-color);

  width: 100%;
  padding: 10px 25px;
  margin: 10rem auto 0;
}

.base a:link,
.base a:visited {
  color: var(--accent-color);
}
