.base {
  clip-path: polygon(1em 0%, 100% 0%, calc(100% - 1em) 100%, 0% 100%);
  background-color: var(--dark-color);
  color: var(--light-color);

  width: min(35em, calc(100% - 2em));
  padding: 0.75em 1.5em;
  margin: 0 auto;
  border: 0.125em solid var(--secondary-accent-color);
  border-radius: 0.25em;

  display: flex;
  justify-content: center;
  gap: 1.5em;

  transition: background-color 0.5s;
}

body[dark='true'] .base {
  background-color: transparent;
}

.base figure {
  height: 1.25em;
  width: 1.25em;
}
