.base {
  background: var(--footer-background-color);
  color: var(--footer-font-color);

  padding: 10px 25px;
  width: 100%;
}

.base a:link,
.base a:visited {
  color: rgb(128 157 255);
  text-decoration: 0.15rem underline rgb(128 157 255);
}
