.base {
  position: fixed;
  bottom: 4.5rem;
  right: 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: transform 0.3s;
}

main[top='true'] .base {
  transform: translateY(8rem);
}

.icon {
  height: 3rem;
  width: 3rem;

  filter: drop-shadow(0 0 0.1rem var(--background-color));
}

.icon > div {
  background-color: var(--content-color);
  position: absolute;

  border-radius: 20%;
  transition:
    background-color 0.3s,
    transform 0.3s 0.4s,
    border-radius 0.3s 0.4s;
  transition-delay: 3s;
}

.dot1 {
  background-color: red !important;
  height: 1.25rem;
  width: 1.25rem;
  transform: scale(0.5, 2) translate(28px, 8px);
}

.dot2 {
  background-color: blue !important;
  height: 1rem;
  width: 1rem;
  transform: translate(11px, 7px) rotate(40deg) scale(0.5, 1.5);
}

.dot3 {
  height: 0.75rem;
  width: 0.75rem;
  transform: translate(23px, 9px) rotate(-40deg) scale(0.7, 2.1);
}

main[top='true'] .icon > div {
  border-radius: 50%;
}

main[top='true'] .dot1 {
  transform: translateX(1rem);
}

main[top='true'] .dot2 {
  transform: translate(0.75rem, 1.25rem);
}

main[top='true'] .dot3 {
  transform: translate(2rem, 2rem);
}

@media (max-width: 1100px) {
  .base {
    bottom: 3.5rem;
    right: 1.3rem;
  }
}
