.base {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base:hover {
  cursor: pointer;
}

.base p {
  font-size: 0.9em;
  margin: 0;
  opacity: 0;

  transition: opacity 0.5s ease 0.8s, transform 0.5s ease 0.8s;
}

.base:hover p,
.base.arrow p {
  opacity: 1;
  transform: translateY(-10px);
}

.base.up:hover p,
.base.up.arrow p {
  transform: translateY(7px);
}

.icon {
  height: 45px;
  width: 50px;
  padding-bottom: 20px;

  opacity: 0;
  transform: translateY(60px);

  animation: appear-button 0.5s ease forwards;
}

.icon > div {
  position: relative;
  background-color: var(--content-color);

  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease 0.8s,
    border-radius 0.3s ease 0.8s;
}

.dot1 {
  height: 18px;
  width: 18px;

  top: 5px;
  left: 15px;
}

.dot2 {
  height: 14px;
  width: 14px;

  top: 10px;
  left: 7px;
}

.dot3 {
  height: 10px;
  width: 10px;

  top: 11px;
  left: 23px;
}

.base.arrow .icon > div {
  border-radius: 20%;
}

.base:hover .dot1,
.base.arrow .dot1 {
  transform: scale(50%, 180%) translateY(9px);
}

.base:hover .dot2,
.base.arrow .dot2 {
  transform: translate(5px, 8px) rotate(140deg) scale(50%, 150%);
}

.base:hover .dot3,
.base.arrow .dot3 {
  transform: translate(1px, -5px) rotate(40deg) scale(70%, 210%);
}

.base.up:hover .dot1,
.base.up.arrow .dot1 {
  transform: scale(50%, 180%) translateY(10px);
}

.base.up:hover .dot2,
.base.up.arrow .dot2 {
  transform: translate(5px, -16px) rotate(40deg) scale(50%, 150%);
}

.base.up:hover .dot3,
.base.up.arrow .dot3 {
  transform: translate(1px, -29px) rotate(-40deg) scale(70%, 210%);
}

@keyframes appear-button {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
