.base {
  z-index: 2;
}

.base::before,
.base::after {
  position: absolute;
  overflow: hidden;

  font-family: var(--subtitle-font);

  background-color: var(--foreground-color);
  color: var(--background-color);

  z-index: 2;
  transition:
    opacity 0.3s,
    visibility 0.3s,
    transform 0.5s var(--spring-easing),
    background-color 0.5s,
    color 0.5s;
}

.hide::before,
.hide::after {
  opacity: 0 !important;
}
