.base::after {
  clip-path: polygon(0.5rem 0%, 100% 0%, calc(100% - 0.5rem) 100%, 0% 100%);
  border-radius: 0;
  padding-inline: 0.75rem;
}

.base::before,
.base::after {
  position: absolute;
  overflow: hidden;

  font-family: var(--title-font);
  font-style: italic;
  font-weight: 600;

  background-color: var(--foreground-color);
  color: var(--background-color);

  transition:
    opacity 0.3s,
    visibility 0.3s,
    transform 0.5s var(--spring-easing),
    background-color 0.5s,
    color 0.5s;
}

.hide:not(:global(.hint--always))::before,
.hide:not(:global(.hint--always))::after {
  opacity: 0 !important;
}

@media (pointer: coarse) {
  .base::before,
  .base::after {
    opacity: 0 !important;
  }
}
