.base {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 0;

  transition:
    scale 0.25s ease-out,
    border-color 0.5s,
    background-color 0.5s,
    backdrop-filter 0.5s;
  will-change: scale;

  --dark-filter-value: invert(0.18);
  --light-filter-value: invert(0.9);
}

.border {
  border: 0.1rem solid var(--accent-color);
  border-radius: 50%;
}

.border > * {
  padding: 20%;
}

.secondary {
  border-color: var(--secondary-accent-color);
}

.icon {
  height: 100%;
  width: 100%;

  transition: filter 0.5s;
}

.base.contentColor .icon {
  filter: var(--dark-filter-value);
}

body[dark='true'] .base.contentColor .icon {
  filter: var(--light-filter-value);
}

.base.backgroundColor .icon {
  filter: var(--light-filter-value);
}

body[dark='true'] .base.backgroundColor .icon {
  filter: var(--dark-filter-value);
}

.base.lightColor .icon {
  filter: var(--light-filter-value);
}
