.base {
  height: auto;
  width: 100%;

  transition:
    opacity 0.3s ease-out,
    border-color 0.5s,
    filter 0.5s;
}

.border {
  padding: 0.8rem;
  border: 0.1rem solid var(--accent-color);
  border-radius: 1.5rem;
}

body[dark='true'] .base {
  filter: brightness(0.8) contrast(1.2);
}
@media (prefers-color-scheme: dark) {
  .base {
    filter: brightness(0.8) contrast(1.2);
  }
}
