.base {
  position: relative;
  line-height: 0;
}

.border {
  padding: 0.75em;
  border-radius: 1.5em;
}

.border .content {
  border-radius: 0.75em;
}

.border .previousImage {
  width: 3em;
  padding-left: 1em;
}

.border .nextImage {
  width: 3em;
  padding-right: 1em;
}

.border .dots {
  bottom: 1.75em;
}

.base.singleImage .previousImage,
.base.singleImage .nextImage,
.base.singleImage .dots {
  display: none;
}

.showcase {
  height: auto;
  width: 100%;
}

.content {
  overflow-x: auto;
  white-space: nowrap;

  scroll-snap-type: x mandatory;
}

.base:hover .previousImage,
.base:hover .nextImage {
  opacity: 1;
}

@media (hover: none) {
  .base .previousImage,
  .base .nextImage {
    opacity: 1;
  }
}

.content img {
  scroll-snap-align: start;
}

.previousImage,
.nextImage {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2em;

  opacity: 0;
  filter: drop-shadow(0 0 0.15em var(--dark-color));
  transition:
    transform 0.1s ease-in-out,
    opacity 0.2s 0.1s;
  z-index: 1;
}

.previousImage {
  padding-left: 0.5em;
  left: 0;
}

.previousImage figure {
  transform: rotate(180deg);
}

.nextImage {
  padding-right: 0.5em;
  right: 0;
}

.dots {
  position: absolute;
  bottom: 1em;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 0.75em;
  margin: auto;
}

.dots button {
  width: 0.85em;
  height: 0.85em;
  padding: 0;

  border-radius: 50%;
  border: 0.15em solid var(--light-color);
  filter: drop-shadow(0 0 0.25em var(--dark-color));

  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.dots button.selected {
  border-color: transparent;
  background-color: var(--light-color);
}
