.base {
  width: 100%;
  height: 100%;

  padding: 0.8rem;
  border-radius: 1.5rem;
  border: 0.25rem solid var(--dim-secondary-accent-color);

  transition:
    border 0.5s,
    opacity 0.5s;
}

.base.noBorder {
  border: none;
  border-radius: 0;
  padding: 0;
}
