@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/src/assets/fonts/Nunito-600.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Oleo Script Swash Caps';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/src/assets/fonts/Oleo-800.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  --content-color: rgb(52, 52, 52);
  --primary-color: rgb(245, 245, 255);
  --secondary-color: rgba(235, 235, 245, 0.6);
  --tertiary-color: rgba(225, 225, 235, 0.8);
  --quaternary-color: rgb(220, 220, 230);
  --dim-color: rgb(75, 75, 85);

  --accent-color: rgb(98, 178, 203);
  --secondary-accent-color: rgb(109, 86, 202);
  --dim-accent-color: rgba(98, 178, 203, 0.3);
  --dim-secondary-accent-color: rgba(109, 86, 202, 0.3);

  --invert-color: 0.1;
  --footer-background-color: rgb(20, 20, 35);
  --footer-font-color: rgb(230, 230, 240);
  --modal-outside-color: rgba(35, 35, 45, 0.5);

  color: var(--content-color);

  height: 100vh;
  font-family: 'Nunito', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

body.dark {
  --content-color: rgb(220, 220, 230);
  --primary-color: rgb(35, 35, 45);
  --secondary-color: rgba(40, 40, 50, 0.8);
  --tertiary-color: rgba(45, 45, 55, 0.8);
  --quaternary-color: rgb(50, 50, 60);
  --dim-color: rgb(170, 170, 180);

  --accent-color: rgb(118, 85, 202);
  --secondary-accent-color: rgb(93, 126, 211);
  --dim-accent-color: rgb(109, 90, 156, 0.3);
  --dim-secondary-accent-color: rgb(66, 95, 193, 0.3);

  --accent-color: rgb(123, 181, 199);
  --secondary-accent-color: rgb(158, 146, 206);
  --dim-accent-color: rgba(98, 178, 203, 0.3);
  --dim-secondary-accent-color: rgba(109, 86, 202, 0.3);

  --invert-color: 0.9;
  --modal-outside-color: rgba(35, 35, 45, 0.7);
}

main {
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-color 0.5s;

  background-color: var(--primary-color);
  background-image: url('/src/assets/svg/background.svg');
}

nav,
a,
blockquote {
  transition: background-color 0.5s, color 0.5s;
}

img {
  transition: border 0.5s, opacity 0.5s;
}

svg {
  transition: border 0.5s, opacity 0.5s, fill 0.5s;
}

.small {
  font-size: 0.9rem;
  color: var(--dim-color);
}

.center {
  text-align: center;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  line-height: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  line-height: 1;
}

h1 {
  font-family: 'Oleo Script Swash Caps';
  font-size: 3.5rem;
  text-shadow: 0.15rem 0.15rem 0.1rem var(--quaternary-color);

  transition: text-shadow 0.5s;
}

h1::after {
  content: '';
  display: block;
  width: 112%;
  height: 0.6rem;

  margin: auto;
  border-radius: 0.5rem;
  border-bottom-right-radius: 200%;
  border-bottom-left-radius: 1rem;
  background-color: var(--dim-secondary-accent-color);

  transform: translateX(-5%) rotate(-0.5deg);

  transition: background-color 0.5s;
}

h2 {
  font-family: 'Oleo Script Swash Caps';
  font-size: 2.5rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 0.6rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

a:link,
a:visited {
  background-color: transparent;
  color: var(--secondary-accent-color);
  text-decoration: 0.15rem underline var(--accent-color);
}

a.button {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  text-align: center;
  text-decoration: none;

  font-size: 0.75rem;
  display: inline-block;
  padding: 5px 15px;

  border-radius: 20px;
}

button {
  background-color: transparent;
  color: inherit;
  font: inherit;
  border: none;
}

button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (max-width: 700px) {
  h1 {
    font-size: 3rem;
  }
}
