body {
  margin: 0;
  height: 100vh;

  color: var(--font-color);
  background-color: var(--background-color);
  font-size: 16px;
  font-family: 'Nunito', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

#root,
nav,
section,
a,
::after {
  background-color: var(--background-color);
  transition: background-color 0.6s ease, color 0.3s ease, opacity 0.5s ease;
}

#root {
  height: 100%;
}

.small {
  font-size: 0.85rem;
  color: var(--small-font-color);

  margin: 4px 0;
}

.center {
  text-align: center;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin: 10px 0;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  line-height: 1em;
  margin: 10px 0 20px;
}

h1 {
  font-family: 'Oleo Script Swash Caps';
  font-size: 2.9em;
}

h1::after {
  content: '';
  display: block;
  width: 110%;
  height: 8px;

  position: relative;
  left: -3%;
  top: 5px;

  border-radius: 5px;
  border-bottom-right-radius: 200%;
  border-bottom-left-radius: 15px;
  background-color: var(--font-color);

  transform: rotate(0.5deg);
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.6em;
}

a:link,
a:visited {
  background-color: transparent;
  color: var(--link-font-color);
  text-decoration: 2.5px underline var(--link-decoration-color);
}

button,
a.button {
  background-color: var(--button-color);
  color: var(--button-font-color);

  font-size: 0.7em;
  display: inline-block;
  padding: 5px 15px;

  border-radius: 17px;
  border: none;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

@media (max-width: 600px) {
  h1::after {
    width: 85%;
    left: 7.5%;
    top: 10px;
  }
}
