.base {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;

  display: flex;
  cursor: text;
}

.label {
  white-space: nowrap;

  padding-right: 0.75rem;
  margin-right: 0.75rem;
  border-right: 0.125rem solid var(--dimmer-foreground-color);

  transition: border-color 0.25s;
}

.base:not(:has(.input:placeholder-shown)) {
  border-color: var(--secondary-accent-color) !important;
}

.base:hover .label,
.label:has(+ :focus),
.label:not(:has(+ .input:placeholder-shown)) {
  color: var(--foreground-color);
  border-color: var(--secondary-accent-color);
}

.input {
  width: 100%;
}

.input::placeholder {
  color: var(--dim-foreground-color);
}

.base:has(.input:invalid:not(:placeholder-shown):not(:focus)) {
  border-color: var(--error-color) !important;
}

.label:has(+ .input:invalid:not(:placeholder-shown):not(:focus)) {
  color: var(--error-color) !important;
  border-color: var(--error-color) !important;
}

.base:has(.input:required) .label > *::after {
  content: '*';
  color: var(--accent-color);

  position: relative;
  right: -0.25rem;
}

.base:has(> :focus) {
  border-color: var(--accent-color);
}

textarea.input {
  resize: none;
}

@media (max-width: 500px) {
  .base {
    font-size: 0.875rem;
  }
}
