.base {
  height: 100%;
  width: 100%;
  overflow: hidden;

  position: relative;
}

.base::after {
  content: '';
  background: radial-gradient(closest-side, var(--accent-color), transparent);
  border-radius: 50%;

  position: absolute;
  top: calc(var(--y, 0) * 1px - 35vw);
  left: calc(var(--x, 0) * 1px - 35vw);

  width: 70vw;
  height: 70vw;

  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  z-index: 2;
}

.base:hover::after {
  opacity: 0.08;
}

@media (pointer: coarse) {
  .base::after {
    display: none;
  }
}
