.layout {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  opacity: 0;
  mask: radial-gradient(
    min(20rem, 75vw) at var(--x) var(--y),
    black 20%,
    transparent 100%
  );
  transition:
    0.5s mask,
    0.5s opacity;
  will-change: mask;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

body:hover .layout {
  opacity: 1;
}

@media (pointer: coarse) {
  .layout {
    opacity: 1;
    mask: radial-gradient(100vw 55vh at var(--x) var(--y), black 20%, transparent 100%);
  }
}

.interactive-border {
  position: absolute;
  background-color: var(--dimmest-secondary-accent-color);
  border: 0.15rem solid var(--secondary-accent-color);
  box-shadow: 0 0 0 0.05rem inset var(--dimmest-accent-color);
}

.interactive-aura {
  position: absolute;
  filter: drop-shadow(0 -0.5rem 0.5rem var(--secondary-accent-color)) !important;
}

/* .interactive-button-primary {
  position: absolute;
  background-color: var(--secondary-accent-color);
  filter: contrast(0.5);
} */

.interactive-button-secondary {
  position: absolute;
  background-color: var(--dimmest-secondary-accent-color);
  border: 0.15rem solid var(--secondary-accent-color);

  color: var(--secondary-accent-color);
}

.interactive-button-secondary svg {
  fill: var(--secondary-accent-color) !important;
}

.interactive-text {
  position: absolute;
  white-space: nowrap;
  color: var(--secondary-accent-color);
  background-color: var(--secondary-accent-color);
  background-clip: text;
  text-decoration: var(--secondary-accent-color) solid underline;
}

.layout strong {
  position: absolute;
  white-space: nowrap;
  -webkit-text-stroke: 0.05rem transparent;
}
