.base {
  width: 100%;
  padding: 1.4rem;

  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 0.5rem;
}

.base .header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
}

.header .title {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.title svg {
  height: 2rem;
}

.title h4 {
  text-wrap: nowrap;

  color: var(--accent-color);
  text-align: left;
}

.base .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.base .display {
  margin: 0.5rem -1.65rem;
}

.base .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  margin-top: 0.4rem;
}

.footer a {
  width: 100%;
}

@media (max-width: 700px) {
  .base {
    padding: 1.3rem 1rem;
  }

  .base .header {
    gap: 0.6rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .base .content {
    height: auto;

    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
  }

  .base .footer {
    gap: 1.2rem;
  }
}

@media (max-width: 450px) {
  .base .footer {
    flex-direction: column;
    gap: 0.8rem;
  }

  .footer a {
    width: 100%;
    padding: 0.25rem;
  }
}
