.base {
  scroll-snap-align: start;
  /* scroll-padding: 5rem; */
  scroll-margin: 5rem 0 0;
}

.content {
  display: grid;
  grid-template-columns: 0.7rem 1fr;
  gap: 2.5rem;
}

.timeline {
  position: relative;
  background-color: var(--content-color);

  width: 100%;
  border-radius: 0.7rem;
  margin-top: 1rem;
}

.timeline::before {
  content: '';
  display: block;
  background-color: var(--content-color);
  border-radius: 50%;

  width: 0.5rem;
  height: 0.5rem;

  position: relative;
  top: -1.8rem;
  margin: auto;
}

.timeline::after {
  content: '';
  display: block;
  background-color: var(--content-color);
  border-radius: 50%;

  width: 0.6rem;
  height: 0.6rem;

  position: relative;
  top: -1.5rem;
  margin: auto;
}

.timeline svg {
  width: 3.5rem;
  height: 3.5rem;
  fill: var(--content-color);

  position: absolute;
  bottom: 0;
  transform: translate(-1.4rem, 1rem) scaleX(0.8) rotate(90deg);
}

.allExperiences {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;

  padding: 1.2rem 0;
}

.experiences {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.experiences > h3 {
  margin-left: 1.5rem;
}

.experiences > h3::before {
  content: '';
  display: block;
  width: 3.7rem;
  height: 0.2rem;

  margin: auto;
  border-radius: 0.1rem;
  background-color: var(--content-color);

  position: relative;
  top: 100%;
  left: 0;

  transform: translate(-5rem, -1.7rem);
}

@media (max-width: 900px) {
  .base.magnetic {
    scroll-margin: 10rem 0 0;
  }
}

@media (max-width: 700px) {
  .content {
    display: grid;
    grid-template-columns: 0.7rem 1fr;
    gap: 1.8rem;
  }

  .experiences {
    grid-template-columns: 1fr;
  }

  .experiences > h3::before {
    width: 3rem;

    transform: translate(-4.5rem, -1.2rem);
  }
}
