header.base {
  justify-content: flex-start;
  height: max(32rem, calc(100vh - 16rem));
  width: 48rem;
  margin: 0 auto;
  padding: 0;
}

.info {
  max-width: 27.5rem;
  align-self: flex-start;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.1rem;

  transform: translateY(10rem);

  transition:
    transform 0.2s,
    opacity 0.2s;
  will-change: transform, opacity;
}

.base:hover .info {
  opacity: 1 !important;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  margin-top: 0.5rem;

  scale: 1.1;

  animation: appear-cta-buttons 0.5s ease-out forwards;
}

@media (max-width: 800px) {
  header.base {
    height: max(41rem, calc(100vh - 6rem));
    width: 100%;
  }

  .info {
    align-self: center;
    transform: translateY(23rem);
  }
}

@media (max-width: 500px) {
  .buttons {
    flex-direction: column;
    gap: 0.75rem;
    scale: 1.25;
  }
}

@media (max-width: 800px) and (max-height: 800px) {
  .info {
    gap: 0.5rem;
    transform: translateY(20rem);
  }

  .buttons {
    scale: 1;
    gap: 0.6rem;
  }
}

@keyframes appear-cta-buttons {
  from {
    will-change: transform, opacity;
  }

  from,
  30% {
    transform: translateY(1.5rem);
    opacity: 0;
  }

  to {
    transform: unset;
    opacity: 1;
    will-change: unset;
  }
}

@supports (animation-timeline: scroll()) {
  .info {
    animation: info-scroll ease forwards;
    animation-timeline: scroll(root);
    animation-range: 0 50vh;
  }

  @keyframes info-scroll {
    to {
      opacity: 0.25;
    }
  }
}
@supports not (animation-timeline: scroll()) {
  body[top='false'] .info {
    opacity: 0.25;
  }
}
