header.base {
  height: max(30rem, calc(100vh - 25rem));
  padding: 2rem 2rem 0;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.info {
  max-width: 28rem;
  text-align: center;
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;

  transition:
    transform 0.2s,
    opacity 0.2s;
}

.title {
  align-self: flex-start;
}

.avatar {
  flex-shrink: 2;

  mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  margin-top: 1rem;
}

.buttons > * {
  min-width: 13rem;
}

.otherOptions {
  margin-top: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  transform: translateY(1rem);
  opacity: 0;
  animation: appear-cta-buttons 0.3s 0.2s ease-in-out forwards;
}

.contact {
  gap: 0.375rem;
}

.contact > a {
  height: 2.25rem;
  width: 2.25rem;
}

@media (max-width: 800px) {
  header.base {
    flex-direction: column-reverse;
    justify-content: flex-end;

    height: max(42rem, calc(100vh - 15rem));
    width: 100%;
    padding: 4rem 1rem 0;
  }

  .info {
    gap: 1rem;
  }

  .otherOptions {
    align-self: unset;
  }
}
@media (max-width: 450px) {
  .buttons {
    flex-direction: column;
    gap: 0.75rem;
  }
}

@keyframes appear-cta-buttons {
  to {
    transform: unset;
    opacity: 1;
  }
}
