header.base {
  height: max(30rem, calc(100vh - 25rem));
  padding: 2rem;
  margin-bottom: 8rem;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.info {
  max-width: 28rem;
  text-align: center;
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;

  transition:
    transform 0.2s,
    opacity 0.2s;
}

.title {
  align-self: flex-start;
}

.avatar {
  flex-shrink: 2;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-top: 1rem;
}

.buttons > * {
  min-width: 13rem;
}

.otherOptions {
  margin-top: 0.5rem;
  margin-right: 2.5rem;
  align-self: flex-end;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  transform: translateY(1rem);
  opacity: 0;
  animation: appear-cta-buttons 0.3s 0.2s ease-in-out forwards;
}

.contact {
  gap: 0.625rem;
}

.contact > a {
  height: 1.375rem;
  width: 1.375rem;
}

@media (max-width: 800px) {
  header.base {
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 1.5rem;

    height: max(42rem, calc(100vh - 15rem));
    width: 100%;
    padding: 5rem 1rem;
    margin-bottom: 2rem;
  }

  .info {
    gap: 1rem;
  }

  .otherOptions {
    align-self: unset;
    margin-right: 0;
  }
}
@media (max-width: 450px) {
  .buttons {
    flex-direction: column;
    gap: 0.75rem;
  }
}

@keyframes appear-cta-buttons {
  to {
    transform: unset;
    opacity: 1;
  }
}
