.base {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.base.decoration {
  color: var(--accent-color);
  text-decoration: 0.175rem underline var(--accent-color);
}
