.base {
  --background-color: rgb(240, 240, 250);
  --loader-color: rgb(30, 30, 40);
  --loader-background-color: rgb(220, 220, 230);

  background-color: var(--background-color);

  display: flex;
  justify-content: center;

  height: 100%;
  width: calc(100% - 8px);
  padding-right: 8px;
}

.base.dark {
  --background-color: rgb(35, 35, 45);
  --loader-color: rgb(220, 220, 230);
  --loader-background-color: rgb(50, 50, 60);
}

.base .loader {
  --r1: 154%;
  --r2: 68.5%;

  position: relative;
  top: 80px;

  height: 200px;
  width: 200px;
  padding: 10px;

  border: 10px solid var(--loader-background-color);
  border-radius: 50%;

  background: radial-gradient(
        var(--r1) var(--r2) at top,
        #0000 79.5%,
        var(--loader-color) 80%
      )
      center left,
    radial-gradient(var(--r1) var(--r2) at bottom, var(--loader-color) 79.5%, #0000 80%)
      center center,
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, var(--loader-color) 80%)
      center right,
    var(--loader-background-color);
  background-size: 50.2% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  background-clip: content-box;
  -webkit-background-clip: content-box;
  animation: loader-animation 0.8s cubic-bezier(0.33, 0.17, 0.71, 0.85) forwards;
}

@keyframes loader-animation {
  33.3% {
    background-position: -50% 33.3%, 50% 33.3%, 150% 33.3%;
  }
  66.6% {
    background-position: -75% 66.6%, 25% 66.6%, 125% 66.6%;
  }
  100% {
    background-position: -50% 100%, 50% 100%, 150% 100%;
  }
}
