.base {
  width: 5.25rem;
  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;

  pointer-events: all;
}

.logo {
  height: 2rem;
  width: 2rem;

  padding: 0;
  margin-left: 0;
  border-radius: 0;
  flex-shrink: 0;
}

.logo:active {
  box-shadow: none;
}

.logo > figure {
  height: 100%;
  width: 100%;
}

.logo svg {
  filter: drop-shadow(0 0 0.0625rem var(--dark-color));
  transition: filter 0.5s;
}

.logo.current svg {
  filter: drop-shadow(0 0 0.0625rem var(--dark-color)) grayscale(1) brightness(0.25);
}

body[dark='true'] .logo.current svg {
  filter: drop-shadow(0 0 0.0625rem var(--dark-color)) grayscale(1) brightness(1.75);
}

.status {
  position: relative;

  font-size: 0.9rem;
  font-weight: 600;
  white-space: nowrap;
  line-height: 1;

  padding: 0.25rem 1.25rem 0.25rem 0.5rem;
  border-radius: 0.625rem;
  border: 0.125rem solid var(--accent-color);
  background-color: var(--dim-background-color);

  transition:
    background-color 0.5s,
    color 0.5s,
    border-color 0.5s;
}

.status > ::after {
  content: '';
  position: absolute;
  top: 37.5%;
  right: 0.5rem;

  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50%;
  background-color: var(--success-color);

  transition: background-color 0.5s;
  animation: pulse 2s 3s infinite;
}

.status:hover {
  border-color: var(--success-color);
}

@media (max-width: 800px) {
  .status {
    scale: 0.7;
    position: absolute;
    left: -1.625rem;
    top: 70%;

    border-color: var(--success-color);
  }
}

@keyframes pulse {
  50% {
    filter: drop-shadow(0 0 0.2rem var(--accent-color));
  }
}
