.base {
  width: 5.25em;
  position: relative;

  display: flex;
  align-items: center;
  gap: 1em;

  pointer-events: all;
}

.logo {
  height: 2em;
  width: 2em;

  padding: 0;
  margin-left: 0;
  border-radius: 0;
  flex-shrink: 0;
}

.logo:active {
  box-shadow: none;
}

.logo > figure {
  height: 100%;
  width: 100%;
}

.logo svg {
  filter: drop-shadow(0 0 0.0625em var(--dark-color));
  transition: filter 0.5s;
}

.logo.current svg {
  filter: drop-shadow(0 0 0.0625em var(--dark-color)) grayscale(1) brightness(0.25);
}

body[dark='true'] .logo.current svg {
  filter: drop-shadow(0 0 0.0625em var(--dark-color)) grayscale(1) brightness(1.75);
}

@media (max-width: 500px) {
  .base {
    width: fit-content;
  }
}
