.base {
  height: 2rem;
  width: 2rem;

  padding: 0;
  margin-left: 0;
  border-radius: 0;
  flex-shrink: 0;

  pointer-events: all;
}

.base:active {
  box-shadow: none;
}

.base > figure {
  height: 100%;
  width: 100%;
}

.base svg {
  filter: grayscale(0.75) brightness(0.25);
  transition: filter 0.5s;
}

body[dark='true'] .base svg {
  filter: grayscale(0.75) brightness(1.75);
}

.base.current svg,
body[dark='true'] .base.current svg {
  filter: none;
}
