.base {
  position: fixed;
  top: 0;
  z-index: 10;

  height: 100vh;
  width: calc(100vw + 8px);

  background-color: var(--modal-outside);

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;

  transition: opacity 0.5s ease !important;
  pointer-events: none;

  overflow-y: scroll;
}

.base.show {
  opacity: 1;
  pointer-events: visible;
}

.base > section {
  position: relative;
  margin: 50px 0;
  transition: margin 0.5s ease !important;
}

.base.show > section {
  margin: 100px 0;
}

.close {
  padding: 2px;
  font-size: 1.3em;
  align-self: flex-end;
  margin-top: -15px;
  margin-right: -15px;
}

.close:hover {
  cursor: pointer;
}
