.base {
  z-index: 3;
  background-color: var(--modal-outside-color);
  opacity: 0;

  position: fixed;
  top: 0;

  height: 100%;
  width: calc(100% + 8px);

  display: flex;
  justify-content: center;

  transition: opacity 0.5s;
  pointer-events: none;
  overflow-y: scroll;
}

.base.show {
  opacity: 1;
  pointer-events: visible;
}

.base aside.modal {
  align-self: center;

  padding: 80px 50px;
  margin: 50px 0 100px;

  transform: translate(-8px, -15px);
  background-color: var(--primary-color);

  transition: transform 0.5s ease;
}

.base.show aside.modal {
  transform: translate(-8px, 25px);
}

.close {
  width: 3rem;
  aspect-ratio: 1;

  font-size: 1.7rem;
  font-weight: 700;

  position: absolute;
  top: 40px;
  right: 50px;
}
