.base {
  position: fixed;
  top: 0;
  z-index: 10;

  height: 100vh;
  width: calc(100vw + 8px);

  background-color: var(--modal-outside);

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.base.show {
  opacity: 1;
  pointer-events: visible;
}

.base > section {
  margin: 100px 0;

  transform: translateY(-80px);
  transition: all 0.5s ease;
}

.base.show > section {
  transform: translateY(0);
}

.close {
  padding: 2px;
  font-size: 1.3rem;

  align-self: flex-end;
  margin-top: -20px;
  margin-right: -20px;
}

.close:hover {
  cursor: pointer;
}
