.base {
  z-index: 10;
  pointer-events: none;

  position: fixed;

  padding: 0 1.5em;
  width: 100%;
  height: 5em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;

  box-shadow: var(--dimmest-dark-color) 0 5em 3em -2.5em inset;

  transform: translateY(-3.5em);
  opacity: 0;
  animation: appear-navbar 0.5s 0.2s ease-in-out forwards;
  transition: background-color 0.5s;
}

body:global(.no-scroll) .base {
  padding-right: 2.5rem;
}

@media (max-width: 700px) {
  .base {
    height: 4em;
    gap: 1em;
    padding: 0 1.2em;
    background-color: var(--dimmer-background-color);

    pointer-events: all;
  }
}

@keyframes appear-navbar {
  to {
    opacity: 1;
    transform: unset;
  }
}
