.base {
  width: 5.25em;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  pointer-events: all;
}

.base .language {
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: var(--title-font);
  font-style: italic;
  font-weight: 700;
  text-shadow: 0 0 0.125em var(--dimmer-foreground-color);

  padding: 0.2em 0.4em;

  transition:
    color 0.5s,
    scale 0.25s ease-out;
}

@media (max-width: 700px) {
  .base {
    gap: 0.7em;
  }
}
