.base {
  z-index: 2;
  /* background-color: var(--tertiary-color); */
  background-color: transparent;

  position: fixed;
  top: -50px;

  padding: 0 25px;
  width: calc(100% - 50px);
  height: 50px;
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  animation: appear-navbar 0.5s forwards;
}

.items {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;

  gap: 15px;
  grid-gap: 15px;
}

.items button:first-child {
  margin-top: 7px;
}

.base a {
  min-width: 115px;
}

@keyframes appear-navbar {
  to {
    top: 0;
  }
}
