.base {
  display: flex;
  align-items: center;
  gap: 1rem;

  pointer-events: all;
}

.base .language {
  font-size: 1.6rem;
  font-weight: 600;

  padding: 0.2rem 0.4rem;

  transition: color 0.5s;
}

@media (max-width: 700px) {
  .base {
    gap: 0.7rem;
  }
}
