.base {
  position: relative;
  display: flex;
  align-items: flex-end;

  overflow: visible;
  pointer-events: all;
}

.overlay {
  position: absolute;
  height: 5rem;
  left: -0.75rem;
  padding-inline: 0.75rem;

  --height: 2.25rem;
  --width: 8.8rem;
  --top: 0%;
  --left: 0px;

  clip-path: polygon(
    calc(var(--left) + 0.625rem) calc(var(--top) - var(--height)),
    calc(var(--left) + var(--width)) calc(var(--top) - var(--height)),
    calc(var(--left) + var(--width) - 0.625rem) var(--top),
    var(--left) var(--top)
  );

  background-color: var(--secondary-accent-color);

  z-index: 1;
  pointer-events: none;

  transition: clip-path 0.2s linear;
}

.overlay:not(:has(> .current)) {
  --top: 0%;
}

body[top='false'] .overlay {
  --top: 100%;
}

.overlay .link {
  color: var(--background-color);
  text-shadow: none;
}

.link {
  position: relative;

  font-size: 1.25rem;
  font-family: var(--title-font);
  font-style: italic;
  font-weight: 600;
  white-space: nowrap;
  text-shadow: 0 0 0.125rem var(--background-color);
  color: var(--foreground-color);
  text-transform: uppercase;

  height: 2.25rem;
  padding-inline: 1rem;
  border-radius: 0;
  margin-right: -0.75rem;

  clip-path: polygon(
    0.875rem 0%,
    100% 0%,
    calc(100% - 0.875rem) calc(100% + 0.875rem),
    0% calc(100% + 0.875rem)
  );

  transition:
    transform 0.25s ease-out,
    scale 0.25s ease-out,
    background-color 0.2s ease-out,
    color 0.2s ease-out,
    text-shadow 0.2s ease-out;
}

.link:not(.navigator):hover {
  background-color: var(--dimmer-secondary-accent-color);
}

.link:not(.navigator):active {
  box-shadow: unset;
  background-color: var(--dimmest-secondary-accent-color);
}

.status {
  position: absolute;
  right: 0.65rem;
  bottom: -0.7rem;

  font-size: 0.7rem;
  font-weight: 600;
  white-space: nowrap;
  line-height: 1;
  text-transform: none;

  padding: 0.15rem 0.875rem 0.15rem 0.3rem;
  border-radius: 1rem;
  border: 0.125rem solid var(--accent-color);
  background-color: var(--dim-background-color);
  color: var(--foreground-color);

  transition:
    background-color 0.5s,
    color 0.5s,
    border-color 0.5s;
}

.status::after {
  content: '';

  position: absolute;
  top: 37.5%;
  right: 0.35rem;

  height: 0.3rem;
  width: 0.3rem;
  border-radius: 50%;
  background-color: var(--success-color);

  transition: background-color 0.5s;
  animation: pulse 5s 2s infinite ease-in-out;
}

@keyframes pulse {
  47% {
    scale: 1;
  }
  50% {
    scale: 1.25;
  }
  65% {
    scale: 1;
  }
}

.navigator {
  display: none;
  padding: 0 1rem;

  background-color: var(--secondary-accent-color);
  color: var(--background-color);
  text-shadow: none;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: var(--dim-dark-color);

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.1s;
  z-index: 15;
}

.menu.open {
  opacity: 1;
  pointer-events: all;
}

.menu .closeButton {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  width: 1.4rem;
  height: 1.4rem;
}

.menu > :has(.link) {
  width: 100%;
}

.menu .link {
  width: 90%;
  font-size: 1.25rem;
  color: var(--light-color);
  padding-block: 0.25rem;
  text-shadow: none;
}

.menu .link.current {
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.menu .status {
  display: none;
}

@supports not (animation-timeline: scroll()) {
  .overlay {
    display: none;
  }

  .link.current {
    background-color: var(--secondary-accent-color);
    color: var(--background-color);
    text-shadow: none;
  }
}

@media (max-width: 800px) {
  .base .link,
  .overlay,
  .status {
    display: none;
  }

  .base .navigator {
    display: block;
  }
}

@property --top {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}

@property --left {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

@property --width {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}
