.base {
  z-index: 2;
  pointer-events: none;

  position: fixed;
  transform: translateY(-3.5rem);

  padding: 0 2rem;
  width: 100%;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: background-color 0.5s;
  animation: appear-navbar 0.5s forwards;
}

.logo {
  height: 3rem;
  width: 3rem;
  padding: 0;
  margin: 0 0.6rem;
}

.startItems,
.endItems {
  display: flex;
  align-items: center;

  pointer-events: all;
}

.startItems {
  gap: 1rem;
}

.endItems {
  gap: 0.1rem;
  margin-right: 5rem;

  transition:
    transform 0.5s,
    opacity 0.3s;
}

.endItems a {
  font-size: 1.1rem;
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
  font-weight: 700;
  color: var(--font-color);
}

.endItems a.current {
  background-color: var(--dim-primary-color);
  box-shadow: var(--dim-accent-color) 0 0 0.2rem 0 inset;
  backdrop-filter: blur(0.2rem);

  color: var(--accent-color);
}

.base.isOnTop .endItems {
  transform: translateY(-3rem);
  opacity: 0;
}

.language {
  font-family: var(--title-font);
  font-size: 1.7rem;
}

@media (max-width: 700px) {
  .base {
    pointer-events: all;

    padding: 0 1.2rem;
    background-color: var(--dim-primary-color);
    box-shadow: var(--dim-content-color) 0 -0.4rem 1rem -0.7rem inset;
    backdrop-filter: blur(0.3rem);
  }

  .logo {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0;
  }

  .startItems,
  .endItems {
    gap: 0.7rem;
  }
}

@keyframes appear-navbar {
  to {
    transform: translateY(0);
  }
}
