.base {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  margin-right: 4.2rem;

  pointer-events: all;
}

.base a {
  font-size: 1.2rem;
  font-weight: 600;

  padding: 0 0.5rem;
  border: 0.1rem solid transparent;
  border-radius: 1.5rem;

  transition:
    scale 0.25s ease-out,
    background-color 0.2s ease-out,
    backdrop-filter 0.2s ease-out,
    color 0.2s ease-out,
    border-color 0.2s ease-out,
    text-shadow 0.2s ease-out;
}

.base a.current {
  border-color: var(--accent-color);
}

.base a {
  text-shadow: 0 0 0.1rem var(--background-color);
}

@media (max-width: 700px) {
  .base {
    display: none;
  }
}
