.base {
  background-color: var(--font-color);
  color: var(--background-color);

  width: calc(100% - 50px);
  padding: 20px 25px 10px;
  height: max-content;

  display: flex;
  flex-direction: column;

  border-radius: 20px;

  transition: height 0.5s ease;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

.base h3 {
  margin-right: 20px;
  margin-bottom: 10px;
}

.base p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.base.expanded p {
  -webkit-line-clamp: initial;
}

.down {
  z-index: 5;
  align-self: flex-end;
  font-size: 1.5em;
  padding: 2px;
  margin-top: -5px;
  margin-bottom: -57px;
  margin-right: -5px;

  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.down:hover {
  cursor: pointer;
}

.base.expanded .down {
  transform: rotate(180deg);
}
