.base {
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: sticky;
  top: 5rem;
  left: 0;

  background-color: var(--foreground-color);

  height: 100vh;
  width: 0.625rem;
  border-radius: 0.7rem;

  transition: background-color 0.5s;
}

.timeline::before {
  content: '';
  display: block;
  background-color: var(--foreground-color);
  border-radius: 50%;

  width: 0.4rem;
  height: 0.4rem;

  position: absolute;
  bottom: -1.65rem;

  transition: background-color 0.5s;
}

.timeline::after {
  content: '';
  display: block;
  background-color: var(--foreground-color);
  border-radius: 50%;

  width: 0.55rem;
  height: 0.55rem;

  position: absolute;
  bottom: -1rem;

  transition: background-color 0.5s;
}

.timeline figure {
  width: 3.2rem;
  height: 3.2rem;

  position: absolute;
  top: 0;
  transform: translateY(-1rem) scaleX(0.8) rotate(-90deg);
}

.allProjects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

  padding: 2rem 0 1rem;
  margin-top: -100vh;
  margin-left: 1rem;
}

.allProjects h3 {
  position: sticky;
  top: 7rem;
  margin-bottom: 1rem;
}

.allProjects h3::before {
  content: '';
  display: block;
  width: calc(100% + 1rem);
  height: 0.25rem;

  margin: auto;
  border-radius: 0.125rem;
  background-color: var(--foreground-color);

  position: absolute;
  top: 100%;
  right: -0.125rem;

  transition: background-color 0.5s;
}

.projects {
  margin-left: 4.5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

@media (max-width: 700px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .allProjects {
    margin-left: 2rem;
  }

  .allProjects h3 {
    position: static;
    top: 7rem;
    margin-bottom: 1rem;
  }

  .allProjects h3::before {
    content: none;
  }

  .projects {
    margin-left: 0;

    grid-template-columns: 1fr;
  }
}
