.base {
  width: 100%;
  padding: 25px 35px;

  display: grid;
  grid-template-rows: 1fr max-content 1fr;

  gap: 20px;
  grid-gap: 20px;

  border: 5px solid var(--quaternary-color);
  border-radius: 15px;

  transition: border 0.5s;
}

.base .header {
  display: grid;
  grid-template-columns: 1fr 32px;
  align-items: center;
}

.header h3 {
  text-align: left;
}

.header .down {
  font-size: 1.25rem;
  padding: 0.2rem 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 15px;
  border: 4px solid var(--quaternary-color);

  transform: translateX(1rem) rotate(90deg);
}

.base .content {
  display: grid;
  grid-template-columns: 4fr 3fr;
  justify-items: center;

  gap: 25px;
  grid-gap: 25px;
}

.content p {
  height: max-content;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.content .images {
  display: grid;
  align-items: center;
  justify-items: center;
}

.images img {
  width: 100%;

  padding: 10px;
  border-radius: 15px;
  border: 4px solid var(--quaternary-color);

  grid-area: 1/1;

  opacity: 1 !important;
  animation: none !important;
}

.images img:first-child {
  z-index: 1;
}

.images img:first-child:hover {
  opacity: 0 !important;
}

.base .tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 20px;
}

.base.expanded .down {
  transform: translateX(1rem) rotate(90deg) rotateY(180deg);
}

.base.expanded .content {
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
}

.base.expanded .content p {
  -webkit-line-clamp: initial;
}

@media (max-width: 700px) {
  .base .content {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
  }

  .base .content .images img {
    width: 100%;
  }

  .base.expanded .content .images img {
    width: 100%;
  }
}
