.base {
  position: relative;
  overflow: visible;
}

.arrow {
  position: absolute;
  align-self: center;
  top: 0;
  height: 2.5rem;
  width: 2.5rem;

  transform: translateY(-2rem);
  opacity: 1;

  transition:
    transform 0.4s ease-out,
    opacity 0.4s ease-out;

  animation: appear-arrow 0.5s ease-out;
}

@keyframes appear-arrow {
  from {
    will-change: transform, opacity;
  }
  from,
  30% {
    transform: translateY(0.5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(-2rem);
    opacity: 1;
  }
}

.arrow figure {
  height: 100%;
  width: 100%;
  transform: rotate(-90deg);
  transition: transform 0.5s;
}

.arrow:hover figure {
  transform: translateY(-0.5rem) rotate(-90deg);
}

.content {
  display: grid;
  grid-template-columns: 0.75rem 1fr;
  gap: 2.5rem;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  background-color: var(--content-color);

  width: 100%;
  border-radius: 0.7rem;

  transition: background-color 0.5s;
}

.timeline::before {
  content: '';
  display: block;
  background-color: var(--content-color);
  border-radius: 50%;

  width: 0.4rem;
  height: 0.4rem;

  position: absolute;
  bottom: -1.65rem;

  transition: background-color 0.5s;
}

.timeline::after {
  content: '';
  display: block;
  background-color: var(--content-color);
  border-radius: 50%;

  width: 0.55rem;
  height: 0.55rem;

  position: absolute;
  bottom: -1rem;

  transition: background-color 0.5s;
}

.timeline figure {
  width: 3.5rem;
  height: 3.5rem;

  position: absolute;
  top: 0;
  transform: translateY(-1rem) scaleX(0.8) rotate(-90deg);
}

.allProjects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;

  padding: 3.5rem 0 1rem;
}

.allProjects h3 {
  position: relative;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.allProjects h3::before {
  content: '';
  display: block;
  width: 3.7rem;
  height: 0.2rem;

  margin: auto;
  border-radius: 0.1rem;
  background-color: var(--content-color);

  position: absolute;
  top: 50%;
  left: -4.5rem;

  transition: background-color 0.5s;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

@media (max-width: 700px) {
  .content {
    grid-template-columns: 0.5rem 1fr;
    gap: 1.8rem;
  }

  .timeline figure {
    width: 2.8rem;
    height: 2.8rem;
  }

  .allProjects h3::before {
    width: 3rem;

    position: absolute;
    top: 50%;
    left: -3.5rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }
}

@supports (animation-timeline: scroll()) {
  .arrow {
    animation: arrow-scroll ease forwards;
    animation-timeline: scroll(root);
    animation-range: 0 50vh;
  }

  @keyframes arrow-scroll {
    to {
      transform: translateY(-7rem);
      opacity: 0;
    }
  }
}
@supports not (animation-timeline: scroll()) {
  body[top='false'] .arrow {
    transform: translateY(-7rem);
    opacity: 0;
  }
}
