.base {
  width: 100%;
  padding: 1.4rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2rem;
}

.base .header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0.2rem;
}

.header .title {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.title svg {
  height: 2.2rem;
}

.base .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.base .display {
  margin: 1rem -1.65rem;
}

.base .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.1rem;
}

.header h4 {
  flex: 0;
  text-wrap: nowrap;

  color: var(--accent-color);
  text-align: left;
}

.skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-self: flex-start;

  gap: 0.9rem;
}

.skills div {
  border-color: var(--dim-secondary-accent-color);
  margin: 0;
}

.footer a {
  font-size: 1rem;

  height: 3rem;
  width: 100%;
  padding: 0 0.4rem;
}

@media (max-width: 700px) {
  .base {
    padding: 1.3rem 1rem;
  }

  .base .header {
    gap: 0.6rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .base .display {
    margin: 1rem -1.25rem;
  }

  .skills {
    gap: 0.7rem;
  }

  .base .content {
    height: auto;

    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
  }

  .base .footer {
    gap: 1.2rem;
  }

  .footer a {
    width: 100%;
    height: 2.5rem;
  }
}

@media (max-width: 450px) {
  .base .footer {
    flex-direction: column;
    gap: 0.8rem;
  }

  .footer a {
    width: 100%;
    padding: 0.25rem;
  }
}
