.base {
  width: 900px;
  padding: 5rem 2rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-items: center;

  gap: 1rem;

  transition:
    border-color 0.4s,
    background-color 0.4s,
    backdrop-filter 0.4s,
    transform 0.25s ease-out,
    opacity 0.25s ease-out;
}

@media (max-width: 900px) {
  .base {
    width: 100%;
    padding: 5rem 1.5rem;
  }
}
