.base {
  width: 550px;
  padding: 30px 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  scroll-snap-align: start;
}

.shadow {
  background-color: var(--section-background-color);
  box-shadow: var(--shadow-color) 0px 2px 4px 0px inset;
  border-radius: 15px;

  transition: background-color 0.5s ease-out;
}

.next {
  filter: var(--icon-filter);
  transition: filter 0.5s ease-out;
}

.next:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .base {
    width: calc(85% - 50px);
  }
}
