.layout:not(:has(header)) {
  padding-top: 5rem;
}

.base {
  width: 62rem;
  height: fit-content;
  min-height: -moz-min-content;
  min-height: min-content;
  padding: 2rem;
  margin: 0 auto;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-items: center;

  gap: 2rem;

  transition:
    background-color 0.4s,
    transform 0.25s ease-out,
    opacity 0.25s ease-out;
}

main[top='true'] .base:is(section, blockquote) {
  transform: translateY(calc(100vh - 29rem));
  opacity: 0.75;
}

.base h2 {
  align-self: center;
}

@media (max-width: 63rem) {
  .base {
    width: 100%;
    border-radius: 0;
    padding: 2.5rem;
  }
}

@media (max-width: 31rem) {
  .base {
    padding: 2rem 1.5rem;
  }
}

@media (max-height: 500px) {
  main[top='true'] .base:is(section, blockquote) {
    transform: translateY(calc(100vh - 25rem));
  }
}
