.base {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--light-color);

  opacity: 0;

  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.1s;
  z-index: 3;
}

.base.open {
  opacity: 1;
  background-color: #000000aa;

  pointer-events: all;
}

.base .overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.base.open .overlay * {
  pointer-events: all;
}

.base .header {
  width: 100%;
  height: 6rem;
  padding: 1rem;

  display: flex;
  justify-content: center;

  z-index: 4;
  box-shadow: inset 0 5.75rem 1.1rem -0.8rem var(--dim-dark-color);
}

.header .imageIndex {
  position: absolute;
  top: 1.2rem;
  left: 0.5rem;

  width: 3rem;

  font-size: 1.25rem;
  font-family: monospace;
  font-weight: 600;
  text-align: center;
}

.header > p {
  margin: 0 3rem;
  line-height: 1.1;
}

.header .closeButton {
  position: absolute;
  top: 1.2rem;
  right: 1.6rem;
  width: 1.8rem;
  height: 1.8rem;
}

.base .canvas {
  overflow: visible;
}

.canvas:not(.icon) img {
  height: auto;
  width: 70vw;

  box-shadow: 0 0 3rem 0.2rem var(--dark-color);
}

.icon picture {
  width: 15rem;
  filter: drop-shadow(0 0 0.4rem var(--dark-color));
}

.icon picture img {
  width: 100%;
}

.icon picture:hover {
  scale: none;
}

.base .footer {
  width: 100%;
  height: 6rem;
  font-size: 1.5rem;
  text-align: right;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;

  z-index: 4;
  box-shadow: inset 0 -5.75rem 1.1rem -0.8rem var(--dim-dark-color);
}

.footer > p {
  font-family: monospace;
  font-weight: 600;

  width: 3.25rem;
}

.footer > picture {
  height: 2.3rem;
  width: 2.3rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.5rem;

  margin-left: 0.75rem;
}

.buttons picture {
  height: 2.6rem;
  width: 2.6rem;
  border-color: var(--light-color);
}

.previousImage,
.nextImage {
  position: absolute;
  width: 2.2rem;
  top: 50%;

  filter: drop-shadow(0 0 0.2rem var(--dark-color));
  z-index: 4;
}

.previousImage {
  left: 1.5rem;
}

.previousImage picture {
  transform: rotate(180deg);
}

.nextImage {
  right: 1.5rem;
}

.base.singleImage .previousImage,
.base.singleImage .nextImage,
.base.singleImage .dots {
  display: none;
}

@media (max-width: 700px) {
  .header .imageIndex {
    top: 1rem;
    left: 0.5rem;

    width: 3rem;

    font-size: 1.1rem;
  }

  .header > p {
    font-size: 0.8rem;
    margin: 0 2.5rem;
  }

  .header .closeButton {
    top: 1rem;
    right: 1.2rem;
    width: 1.4rem;
    height: 1.4rem;
  }

  .canvas img {
    width: 100vw;
  }

  .icon picture {
    width: 50vw;
  }
}
