.base {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  margin: 0;
  overflow: scroll;

  background-color: var(--dim-dark-color);
  color: var(--light-color);

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.1s;
  z-index: 15;
}

.base.open {
  opacity: 1;
  pointer-events: all;
}

.base .overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.base.open .overlay * {
  pointer-events: all;
}

.base header {
  width: 100%;
  height: 6em;
  padding: 1em;

  display: flex;
  justify-content: center;

  box-shadow: inset 0 5.5em 2em -2em var(--dim-dark-color);
  z-index: 1;
}

.base header .imageIndex {
  position: absolute;
  top: 1.2em;
  left: 0.5em;

  width: 3em;

  font-size: 1.25rem;
  font-family: monospace;
  font-weight: 600;
  text-align: center;
}

.base header > p {
  margin: 0 3em;
  line-height: 1.1;
}

.base header .closeButton {
  position: absolute;
  top: 1.2em;
  right: 1.6em;
  width: 1.8em;
  height: 1.8em;
}

.base .canvas {
  overflow: visible;
}

.canvas:not(.icon) img {
  height: auto;
  max-width: 70vw;
  max-height: 70dvh;

  box-shadow: 0 0 3em 0.2em var(--dark-color);
}

.canvas.icon figure {
  max-height: 70dvh;
  max-width: 15em;
  filter: drop-shadow(0 0 0.4em var(--dark-color));
}

.base footer {
  width: 100%;
  height: 5em;
  font-size: 1.25rem;
  text-align: right;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: inset 0 -5.5em 2em -2.25em var(--dim-dark-color);
  z-index: 1;
}

.base footer > p {
  font-family: monospace;
  font-weight: 600;

  width: 3.25em;
  margin-right: 0.75em;
}

.base footer > figure {
  height: 2em;
  width: 2em;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  margin-left: 0.5em;
}

.buttons > * {
  height: 2.4em;
  width: 2.4em;
}

.previousImage,
.nextImage {
  position: absolute;
  width: 2.2em;
  top: 50%;

  filter: drop-shadow(0 0 0.2em var(--dark-color));
  z-index: 1;
}

.previousImage {
  left: 1.5em;
}

.previousImage figure {
  transform: rotate(180deg);
}

.nextImage {
  right: 1.5em;
}

.base.singleImage .previousImage,
.base.singleImage .nextImage,
.base.singleImage .dots {
  display: none;
}

@media (max-width: 700px) {
  .base header .imageIndex {
    top: 1em;
    left: 0.5em;

    width: 3em;

    font-size: 1.1rem;
  }

  .base header > p {
    font-size: 0.8rem;
    margin: 0 2.5em;
  }

  .base header .closeButton {
    top: 1em;
    right: 1.2em;
    width: 1.4em;
    height: 1.4em;
  }

  .canvas:not(.icon) img {
    max-width: 100vw;
  }

  .canvas img {
    max-width: 100vw;
  }

  .icon figure {
    width: 50vw;
  }
}
