.base {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;

  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.1s;
  z-index: 3;
}

.base.open {
  opacity: 1;
  background-color: #000000aa;

  pointer-events: all;
}

.base .content {
  overflow: visible;
  z-index: 5;
}

.base .content * {
  transition: transform 0s ease-out;
}

.content > * {
  width: 100%;
  height: 100%;
}

.content img {
  box-shadow: 0 0 5rem #00000088;
}

.content svg {
  width: 15rem;
  filter: drop-shadow(0 2rem 2rem #00000088);
}

.base .overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow:
    inset 0 20rem 20rem -20rem #000000cc,
    inset 0 -20rem 20rem -20rem #000000cc;
  z-index: 4;
}

.base.open .overlay * {
  pointer-events: all;
}

.content img[src*='.png'],
.content img[src*='.svg'] {
  box-shadow: none;
}

.overlay .title {
  position: absolute;
  top: 1.5rem;
  margin: 0 auto;

  color: var(--footer-font-color);
  font-size: 1.5rem;
}

.overlay .closeButton {
  position: absolute;
  top: 1.5rem;
  right: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--footer-font-color);
}

.overlay .zoom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  gap: 0.7rem;

  position: absolute;
  bottom: 2rem;

  font-size: 1.2rem;
  color: var(--footer-font-color);
}

.zoom > p {
  width: 2.5rem;
}

.zoom > svg {
  height: 2rem;
  width: 2rem;

  fill: var(--footer-font-color);
}

.zoomButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.zoomButtons button {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.4rem;
  border-color: var(--footer-font-color);
}

.zoomButtons svg {
  fill: var(--footer-font-color);
  stroke: var(--footer-font-color);
}
