.base:has(.skills > :only-child) {
  width: min(14rem, 100%);
  padding: 2.5rem;
}

.base {
  width: min(32rem, 100%);
  height: fit-content;
  padding: 1.5rem;
  border-radius: 2.5rem;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  position: absolute;

  transition:
    background-color 0.5s,
    filter 0.4s,
    transform 0.15s ease-in-out,
    opacity 0.3s ease-in-out;
  opacity: 0.8;
  animation: float ease-in-out infinite;
  animation-composition: add;
  overflow: hidden;
}

.base h3 {
  font-size: 2.25rem;
}

.skills {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(5.5rem, 1fr));
  grid-auto-rows: min-content;
  gap: 3rem 2.5rem;
}

.skills > * {
  height: 100% !important;
  width: 100% !important;
}

@media not (pointer: coarse) {
  .base[active='true'] {
    transform: none !important;
    animation: none;
    z-index: 1;
    opacity: 0.95;
  }
}

.base:nth-child(1) {
  transform: translate(-17rem, -10rem) scale(0.5);
  animation-duration: 5s;
}

.base:nth-child(2) {
  transform: translate(17rem, -8rem) scale(0.5);
  animation-duration: 5.1s;
}

.base:nth-child(3) {
  transform: translate(0rem, -18rem) scale(0.4);
  animation-duration: 5.5s;
}

.base:nth-child(4) {
  transform: translate(-15rem, 12rem) scale(0.6);
  animation-duration: 4.7s;
}

.base:nth-child(5) {
  transform: translate(2.5rem, 17rem) scale(0.6);
  animation-duration: 4.85s;
}

.base:nth-child(6) {
  transform: translate(18rem, 14rem) scale(0.45);
  animation-duration: 5.05s;
}

@media (max-width: 800px) {
  .base {
    position: relative;
    gap: 1rem;
    width: 100%;
    margin: auto;
    animation: none;
    transform: none !important;
  }

  .base:has(.skills > :only-child) {
    width: 50%;
    padding: 1rem;
  }

  .base h3 {
    font-size: 1.5rem;
  }

  .skills {
    grid-template-columns: repeat(auto-fit, minmax(3.5rem, 1fr));
    gap: 1rem;
  }
}

@keyframes float {
  50% {
    translate: 0 0.5rem;
  }
}
