.base {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 55px;
  width: 55px;
  margin-bottom: 5px;
  border-radius: 90%;
}

.base .icon:hover {
  cursor: pointer;
}

.base .icon img {
  opacity: 90%;
  position: relative;
  width: 40px;

  filter: var(--icon-filter);
}

.big {
  font-size: 1.2em;
}

.big .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 15px;
}

.big .icon:hover {
  cursor: initial;
}

.big .icon img {
  opacity: 90%;
  position: absolute;
  width: 58.2px;
}
