.base {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 4.2rem;
  width: 4.2rem;
  padding: 0.35rem;

  border: 0.27rem solid var(--dim-accent-color);
  border-radius: 50%;

  transition: border 0.5s;
}

.base svg,
.base svg * {
  height: 75% !important;
  width: 75% !important;
}

.small .icon {
  height: 2.4rem;
  width: 2.4rem;
  padding: 0.2rem;
  border-width: 0.15rem;
}
