.subsection {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-evenly;

  gap: 1.8rem 3rem;
}
