.base {
  font-size: 0.9rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 55px;
  width: 55px;
  margin-bottom: 5px;
  border-radius: 90%;

  transition: all 0.25s ease-in-out;
}

.base .icon:hover {
  cursor: pointer;
}

.base .icon img {
  opacity: 90%;
  position: absolute;
  width: 40px;

  filter: var(--icon-filter);
  transition: filter 0.5s ease-out;
}

.big {
  font-size: 1.2rem;
}

.big .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 15px;
}

.big .icon:hover {
  cursor: initial;
}

.big .icon img {
  opacity: 90%;
  position: absolute;
  width: 58.2px;
}
