p.base {
  font-size: 1.15rem;
  font-weight: 400;
}

.base:is(h1, h2, h3, h4, h5, h6) {
  width: fit-content;
  text-align: center;
  font-weight: 500;
  line-height: 1;
  font-family: var(--subtitle-font);
}

.base:is(h4, h5, h6) {
  font-weight: 400;
}

h1.base {
  font-family: var(--title-font);
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 0.15rem 0.15rem 0.1rem var(--dim-primary-color);

  transition:
    color 0.5s,
    text-shadow 0.5s,
    opacity 0.2s;
}

h1.base::after {
  content: '';
  display: block;
  width: calc(100% + 2rem);
  height: 0.8rem;

  margin: auto;
  border-radius: 0.5rem;
  border-bottom-right-radius: 200%;
  border-bottom-left-radius: 1rem;
  background-color: var(--dim-accent-color);

  transform: translate(-1rem, 0.3rem);

  transition: background-color 0.5s;
}

h2.base {
  font-size: 2.5rem;
}

h3.base {
  font-size: 2.15rem;
}

h4.base {
  font-size: 1.95rem;
}

h5.base {
  font-size: 1.5rem;
}

h6.base {
  font-size: 0.6rem;
}

@media (max-width: 700px) {
  h1.base {
    font-size: 3rem;
  }

  h2.base {
    font-size: 2.2rem;
  }

  h3.base {
    font-size: 2rem;
  }

  h4.base {
    font-size: 1.7rem;
  }
}

strong {
  font-weight: 700;
  background: linear-gradient(
    to right,
    var(--accent-color),
    var(--secondary-accent-color)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
