header.base {
  height: 25rem;
  margin: 7rem auto 5rem;

  transition: height 0.3s;
}

.info {
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  transition: opacity 0.2s;
}

p.presentation {
  text-align: center;
  font-size: 1.2rem;
  max-width: 28rem;
}

.buttons {
  margin-top: 1rem;
  transition:
    transform 0.3s,
    opacity 0.2s;
  transform: scale(1.3);
}

.avatar {
  position: absolute;
  top: 0;
  left: 0;

  height: 20rem;
  width: 20rem;

  transform: translate(calc(50vw + 6rem), 8rem);
  background-clip: content-box;

  transition:
    transform 0.25s ease,
    border 0.5s;

  z-index: 2;
  pointer-events: none;
}

.base.overlay .avatar {
  transform: translate(calc(100vw - 13.2rem), -8rem) scale(0.17);
  pointer-events: all;
}

.avatar > button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.avatar > button > svg {
  position: absolute;
  top: -0.15rem;
  left: -0rem;
  height: 100%;
  width: 100%;

  opacity: 0.3;
  transform: scale(1.08);

  transition:
    transform 0.3s,
    opacity 0.3s;

  pointer-events: none;
}

.avatar > button > img {
  border-width: 0.5rem;
  border-radius: 50%;
  filter: grayscale(15%);
}

.base.overlay .avatar > button > svg {
  opacity: 1;
  transform: scale(0.9);
}

.base.overlay .avatar > button > img {
  opacity: 0;
}

.base.overlay .info {
  opacity: 0;
  pointer-events: none;
}

.base .contact {
  position: absolute;
  top: 0;
  right: 0rem;
  justify-content: flex-end;
  gap: 3rem;

  height: 100%;
  width: 350%;
  margin: auto;
  opacity: 0;

  transition:
    transform 0.1s ease-out,
    opacity 0.5s;
  z-index: -1;
  pointer-events: none;
}

.base .contact a {
  height: 18rem;
  width: 18rem;
  padding: 3.4rem;
  border-width: 0.7rem;
}

.contact a + a {
  margin-left: -21rem;

  transition:
    border 0.5s,
    margin-left 0.3s ease-out;
}

.base.overlay .contact {
  opacity: 1;
  transform: translateX(-25rem);

  pointer-events: initial;
}

.base.overlay .contact a + a {
  margin-left: 0;
}

.base .contact.open {
  opacity: 1;

  transition:
    transform 0.2s 0.2s ease-out,
    opacity 0.3s;
}

.base .contact.open a + a {
  transition:
    border 0.5s,
    margin-left 0.2s 0.25s ease-in-out;
}

.base .links {
  position: absolute;
  top: 0;
  right: 0;
  width: 90rem;
  font-size: 8rem;

  opacity: 0;

  transition: opacity 0.1s ease-out;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.base.overlay .links {
  transform: translateY(30rem);
  transition: opacity 0.2s 0.2s ease-out;

  opacity: 1;
}

.base .link {
  transition: font-size 0.2s;
}

.base .link.current {
  font-size: 10rem;
}

@media (max-width: 900px) {
  header.base {
    height: 42rem;
    margin: 5rem auto;
    justify-content: flex-end;
  }

  .base .avatar {
    transform: translate(calc(50vw + -10rem), 8rem);
  }

  .info {
    align-self: center;
  }
}
