.base {
  padding: 30px 50px 0;
  gap: 25px;
  margin-bottom: -25px;
}

.avatar {
  height: 200px;
  width: 200px;
  padding: 10px;

  border-radius: 50%;
  border: 10px solid var(--quaternary-color);

  background-color: var(--content-color);
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

.avatar img {
  width: 100.5%;
  border-radius: inherit;
  filter: grayscale(25%) contrast(125%);
}
