.base {
  height: 90vh;
  align-content: center;
  margin-bottom: -80px;

  gap: 35px;
  grid-gap: 35px;
}

.avatar {
  height: 15rem;
  width: 15rem;
  padding: 0.6rem;

  border-radius: 50%;
  border: 0.6rem solid var(--quaternary-color);

  -webkit-background-clip: content-box;
  background-clip: content-box;

  transition: border 0.5s;
  z-index: 0;
}

.avatar img {
  width: 100%;
  padding: 0;
  border-radius: inherit;
  filter: grayscale(25%) contrast(125%);
}

@media (max-height: 750px) {
  .base {
    height: initial;
    padding-top: 80px;

    gap: 25px;
    grid-gap: 25px;
  }
}

@media (max-width: 700px) {
  .base {
    margin-bottom: 15px;
  }
}
