html {
  font-size: 16px;
  height: 100dvh;
  overflow: hidden;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  text-wrap: pretty;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 4.5rem;

  scale: 1.18 1;
  line-height: 1.15;
  text-shadow: 0.24rem 0.24rem 0.1rem var(--dim-accent-color);
}

:is(h2, h3, h4, h5, h6) {
  text-wrap: pretty;
  font-family: var(--subtitle-font);
  font-weight: 600;
  line-height: 1;
}

:is(h4, h5, h6) {
  font-weight: 400;
}

h2 {
  font-size: 2.8rem;
  text-align: center;

  position: relative;
  z-index: 1;
}

h2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  height: 1.3rem;
  width: calc(100% + 6rem);

  margin: auto;
  border-radius: 4rem;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 200%;
  background-color: var(--accent-color);

  transform: translate(-3rem, 0.75rem);

  transition: background-color 0.5s;
  z-index: -1;
  opacity: 0.32;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 0.6rem;
}

@media (max-width: 700px) {
  p {
    font-size: 1.15rem;
  }

  h1 {
    font-size: 3.8rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  h2::before {
    height: 1.05rem;
    width: calc(100% + 4rem);
    transform: translate(-2rem, 0.85rem);
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.55rem;
  }
}

button {
  background-color: transparent;
  color: inherit;
  font: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}

strong {
  font-weight: 600;
  font-size: 1.15rem;
  background: linear-gradient(
    to right,
    var(--accent-color),
    var(--secondary-accent-color)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blur-background {
  box-shadow: var(--dim-accent-color) 0 0 0.15rem 0.02rem inset;
  backdrop-filter: blur(0.5rem);

  border: 0.3rem solid var(--dim-accent-color);
  border-radius: 2rem;

  transition:
    background-color 0.3s,
    border-color 0.2s;

  overflow: hidden;
}

.blur-background:hover {
  background-color: #ffffff0a;
}

.no-select,
.no-select * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(32, 38, 55, 0.7);
  }
}
