*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;

  background-color: Canvas;
  background-color: white;

  color: CanvasText;
  color-scheme: light dark;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  position: relative;

  color: var(--foreground-color);
  font-family: var(--body-font);
  font-weight: 300;

  background-color: var(--background-color);

  transition: background-color 0.5s;
  overflow-x: hidden;

  --light: 237, 45%, 96%;
  --dark: 210, 45%, 4%;
  --accent: 207, 80%, 50%;
  --secondary-accent: 248, 95%, 62%;
  --dim: 0.7;
  --dimmer: 0.45;
  --dimmest: 0.125;

  --error-color: rgb(213, 67, 67);
  --success-color: rgb(67, 213, 133);

  --light-color: hsl(var(--light));
  --dim-light-color: hsl(var(--light), var(--dim));
  --dimmer-light-color: hsl(var(--light), var(--dimmer));
  --dimmest-light-color: hsl(var(--light), var(--dimmest));

  --dark-color: hsl(var(--dark));
  --dim-dark-color: hsl(var(--dark), var(--dim));
  --dimmer-dark-color: hsl(var(--dark), var(--dimmer));
  --dimmest-dark-color: hsl(var(--dark), var(--dimmest));

  --foreground-color: var(--dark-color);
  --dim-foreground-color: var(--dim-dark-color);
  --dimmer-foreground-color: var(--dimmer-dark-color);
  --dimmest-foreground-color: var(--dimmest-dark-color);

  --background-color: var(--light-color);
  --dim-background-color: var(--dim-light-color);
  --dimmer-background-color: var(--dimmer-light-color);
  --dimmest-background-color: var(--dimmest-light-color);

  --accent-color: hsl(var(--accent));
  --dim-accent-color: hsl(var(--accent), var(--dim));
  --dimmer-accent-color: hsl(var(--accent), var(--dimmer));
  --dimmest-accent-color: hsl(var(--accent), var(--dimmest));

  --alt-accent-color: hsl(var(--secondary-accent));
  --dim-alt-accent-color: hsl(var(--secondary-accent), var(--dim));
  --dimmer-alt-accent-color: hsl(var(--secondary-accent), var(--dimmer));
  --dimmest-alt-accent-color: hsl(var(--secondary-accent), var(--dimmest));
}

body.no-scroll {
  overflow-y: hidden;
  padding-right: 1rem;
}

:root:has(body[dark='true']) {
  color-scheme: dark;
}

body[dark='true'] {
  --accent: 207, 80%, 55%;
  --secondary-accent: 248, 95%, 69%;
  --dimmer: 0.3625;

  --foreground-color: var(--light-color);
  --dim-foreground-color: var(--dim-light-color);
  --dimmer-foreground-color: var(--dimmer-light-color);
  --dimmest-foreground-color: var(--dimmest-light-color);

  --background-color: var(--dark-color);
  --dim-background-color: var(--dim-dark-color);
  --dimmer-background-color: var(--dimmer-dark-color);
  --dimmest-background-color: var(--dimmest-dark-color);
}

@media (prefers-color-scheme: dark) {
  :root:has(body[dark='false']) {
    color-scheme: light;
  }

  body:not([dark]) {
    color-scheme: dark;

    --accent: 207, 80%, 55%;
    --secondary-accent: 248, 95%, 69%;
    --dimmer: 0.3625;

    --foreground-color: var(--light-color);
    --dim-foreground-color: var(--dim-light-color);
    --dimmer-foreground-color: var(--dimmer-light-color);
    --dimmest-foreground-color: var(--dimmest-light-color);

    --background-color: var(--dark-color);
    --dim-background-color: var(--dim-dark-color);
    --dimmer-background-color: var(--dimmer-dark-color);
    --dimmest-background-color: var(--dimmest-dark-color);
  }
}

p {
  text-wrap: pretty;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;

  transition: color 0.5s;
}

:is(h1, h2, h3, h4, h5, h6) {
  width: fit-content;
  text-wrap: pretty;
  transform-origin: left;
  scale: 1.2 1;

  transition: color 0.5s;
}

:is(h3, h4, h5, h6) {
  font-family: var(--body-font);
  font-weight: 600;
  letter-spacing: -0.075rem;
  line-height: 1.3;
}

:is(h1, h2) {
  font-family: var(--title-font);
  font-style: italic;
  text-transform: uppercase;
  white-space: nowrap;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
  line-height: 1.15;
  transform-origin: center;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.025rem;
  line-height: 1.25;
  color: var(--background-color);

  background-color: var(--foreground-color);
  padding: 0.25rem 0.75rem;
  clip-path: polygon(0.625rem 0%, 100% 0%, calc(100% - 0.625rem) 100%, 0% 100%);

  transition:
    color 0.5s,
    background-color 0.5s;
}

h3 {
  font-size: 1.4375rem;
}

h4 {
  font-size: 1.3125rem;
}

@media (max-width: 700px) {
  p {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.3125rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 9vw;
  }

  h2 {
    font-size: 1.6rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  color: inherit;
  font: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}

input,
textarea {
  background-color: transparent;
  color: inherit;
  font: inherit;
  border: none;
  padding: 0;
  cursor: text;
  outline: none;
}

b {
  font-weight: 600;

  transition: color 0.5s;
}

strong {
  font-size: inherit;
  line-height: normal;
  font-weight: 700;

  background-image: linear-gradient(
    to right,
    var(--accent-color),
    var(--alt-accent-color)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

u {
  text-decoration: 0.175rem underline var(--alt-accent-color);
}

.interactive-border {
  position: relative;
  border: 0.15rem solid var(--dim-accent-color);
  border-radius: 1.25rem;
  background-color: var(--dimmer-background-color);

  transition:
    filter 0.5s,
    background-color 0.25s,
    border-color 0.5s;
}

.interactive-border:hover {
  background-color: var(--dim-background-color);
}

.interactive-text {
  white-space: nowrap;
}

.no-select,
.no-select * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body :not(textarea) {
  scrollbar-width: none;
}

body :not(textarea)::-webkit-scrollbar {
  height: 0;
  width: 0;
}

::selection {
  color: var(--background-color);
  background-color: var(--dim-accent-color);
  -webkit-text-fill-color: var(--background-color);
}
