* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  scroll-behavior: smooth;
  font-size: 1.125rem;

  color: var(--foreground-color);
  font-family: var(--body-font);

  background-color: var(--background-color);
  background-image: radial-gradient(
      35vw 25vh at 32.5% 20rem,
      var(--dim-accent-color) 0,
      transparent 85%
    ),
    radial-gradient(
      25vw 18vh at 70% 17.5rem,
      var(--dim-secondary-accent-color) 0,
      transparent 85%
    ),
    radial-gradient(
      30vw 40rem at 15vw 100rem,
      var(--dimmest-accent-color) 0,
      transparent 85%
    ),
    radial-gradient(
      30vw 40rem at 75vw 150rem,
      var(--dimmest-secondary-accent-color) 0,
      transparent 85%
    ),
    radial-gradient(
      30vw 40rem at 25vw 200rem,
      var(--dimmest-accent-color) 0,
      transparent 85%
    ),
    radial-gradient(
      30vw 40rem at 85vw 250rem,
      var(--dimmest-secondary-accent-color) 0,
      transparent 85%
    );

  transition: background-color 0.5s;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light: 237, 45%, 96%;
  --dark: 210, 45%, 4%;
  --accent: 210, 85%, 65%;
  --secondary-accent: 245, 85%, 65%;
  --dim: 0.4;
  --dimmest: 0.125;

  --light-color: hsl(var(--light));
  --dim-light-color: hsl(var(--light), var(--dim));
  --dimmest-light-color: hsl(var(--light), var(--dimmest));

  --dark-color: hsl(var(--dark));
  --dim-dark-color: hsl(var(--dark), var(--dim));
  --dimmest-dark-color: hsl(var(--dark), var(--dimmest));

  --foreground-color: var(--dark-color);
  --dim-foreground-color: var(--dim-dark-color);
  --dimmest-foreground-color: var(--dimmest-dark-color);

  --background-color: var(--light-color);
  --dim-background-color: var(--dim-light-color);
  --dimmest-background-color: var(--dimmest-light-color);

  --accent-color: hsl(var(--accent));
  --dim-accent-color: hsl(var(--accent), var(--dim));
  --dimmest-accent-color: hsl(var(--accent), var(--dimmest));

  --secondary-accent-color: hsl(var(--secondary-accent));
  --dim-secondary-accent-color: hsl(var(--secondary-accent), var(--dim));
  --dimmest-secondary-accent-color: hsl(var(--secondary-accent), var(--dimmest));
}

body[dark='true'] {
  --accent: 210, 85%, 60%;
  --secondary-accent: 245, 85%, 70%;
  --dim: 0.4;
  --dimmest: 0.125;

  --foreground-color: var(--light-color);
  --dim-foreground-color: var(--dim-light-color);
  --dimmest-foreground-color: var(--dimmest-light-color);

  --background-color: var(--dark-color);
  --dim-background-color: var(--dim-dark-color);
  --dimmest-background-color: var(--dimmest-dark-color);
}

@media (prefers-color-scheme: dark) {
  body:not([dark]) {
    --accent: 210, 85%, 60%;
    --secondary-accent: 245, 85%, 70%;
    --dim: 0.4;
    --dimmest: 0.125;

    --foreground-color: var(--light-color);
    --dim-foreground-color: var(--dim-light-color);
    --dimmest-foreground-color: var(--dimmest-light-color);

    --background-color: var(--dark-color);
    --dim-background-color: var(--dim-dark-color);
    --dimmest-background-color: var(--dimmest-dark-color);
  }
}

p {
  text-wrap: pretty;
  font-weight: 400;
  line-height: 1.4;

  transition: color 0.5s;
}

:is(h1, h2, h3, h4, h5, h6) {
  width: fit-content;
  text-wrap: pretty;

  scale: 1.15 1;
  transition: color 0.5s;
}

:is(h2, h3, h4, h5, h6) {
  font-family: var(--subtitle-font);
  font-weight: 500;
  letter-spacing: -0.075rem;
  line-height: 1.3;

  transform-origin: left;
  transition: color 0.5s;
}

:is(h3, h4, h5, h6) {
  font-family: var(--body-font);
  font-weight: 600;
}

h1 {
  font-family: var(--title-font);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.075rem;
  line-height: 1.2;
  white-space: nowrap;

  transition: color 0.5s;
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: -0.025rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.3rem;
}

@media (max-width: 700px) {
  p {
    font-size: 1.075rem;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.725rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  color: inherit;
  font: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}

strong {
  font-weight: 700;
  font-size: inherit;
  background-image: linear-gradient(
    to right,
    var(--accent-color),
    var(--secondary-accent-color)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.interactive-border {
  border: 0.125rem solid var(--dim-accent-color);
  border-radius: 1.5rem;

  transition:
    filter 0.4s,
    background-color 0.5s,
    border-color 0.5s;
}

.interactive-border:hover {
  filter: brightness(1.1) saturate(1.1);
}

.interactive-button-secondary {
  border: 0.125rem solid var(--dim-accent-color);
  border-radius: 1.5rem;

  transition: background-color 0.5s;
}

.scale-animation {
  transition: scale 0.25s ease-out;
  transform-origin: center;
  will-change: scale;
}

.scale-animation:hover {
  scale: 1.02;
}

.scale-animation:active {
  scale: 0.98;
}

.no-select,
.no-select * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body * {
  scrollbar-width: none;
}

body ::-webkit-scrollbar {
  height: 0;
  width: 0;
}
