* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  min-height: 100dvh;

  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;

  color: var(--foreground-color);
  font-family: var(--body-font);

  background-color: var(--background-color);
  background-image: radial-gradient(
      at 10% calc(100vh + 60rem),
      var(--dim-secondary-accent-color) 0,
      transparent 50%
    ),
    radial-gradient(
      at 90% calc(100vh + 130rem),
      var(--dim-accent-color) 0,
      transparent 50%
    );

  transition: background-color 0.5s;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-color: rgb(230, 230, 240);
  --dim-light-color: rgb(230, 230, 240, 0.3);
  --dark-color: rgb(15, 15, 25);
  --dim-dark-color: rgb(15, 15, 25, 0.3);

  --foreground-color: rgb(30, 30, 30);
  --alternate-foreground-color: rgb(235, 235, 255);

  --content-color: rgb(50, 50, 50);
  --dim-content-color: rgba(100, 100, 100, 0.05);

  --background-color: rgb(252, 252, 255);
  --dim-background-color: rgba(252, 252, 255, 0.25);

  --accent-color: #519cff;
  --dim-accent-color: #6295f560;

  --secondary-accent-color: #5359f3;
  --dim-secondary-accent-color: #656afd60;
}

body[dark='true'] {
  --foreground-color: rgb(220, 220, 250);
  --alternate-foreground-color: rgb(30, 30, 30);

  --content-color: rgb(225, 225, 235);
  --dim-content-color: rgb(220, 220, 230, 0.1);

  --background-color: rgb(11, 13, 17);
  --dim-background-color: rgb(11, 13, 17, 0.25);

  --accent-color: #519cff;
  --dim-accent-color: #6295f520;

  --secondary-accent-color: #6b6ff3;
  --dim-secondary-accent-color: #6b6ff330;
}

@media (prefers-color-scheme: dark) {
  body:not([dark]) {
    --foreground-color: rgb(220, 220, 250);
    --alternate-foreground-color: rgb(30, 30, 30);

    --content-color: rgb(225, 225, 235);
    --dim-content-color: rgb(220, 220, 230, 0.1);

    --background-color: rgb(11, 13, 17);
    --dim-background-color: rgb(11, 13, 17, 0.25);

    --accent-color: #519cff;
    --dim-accent-color: #6295f520;

    --secondary-accent-color: #6b6ff3;
    --dim-secondary-accent-color: #6b6ff330;
  }
}

p {
  text-wrap: pretty;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;

  transition: color 0.5s;
}

h1 {
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: 0.25rem;
  text-shadow: 0.1rem 0.1rem 0.2rem var(--accent-color);

  scale: 1.2 1;
  line-height: 1.15;

  transition: color 0.5s;
}

:is(h2, h3, h4, h5, h6) {
  text-wrap: pretty;
  font-family: var(--subtitle-font);
  font-weight: 600;
  line-height: 1;

  transition: color 0.5s;
}

:is(h4, h5, h6) {
  font-weight: 400;
}

h2 {
  font-size: 2.8rem;
  text-align: center;

  position: relative;
  z-index: 1;
}

h2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  height: 1.3rem;
  width: calc(100% + 6rem);

  margin: auto;
  border-radius: 4rem;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 200%;
  background-color: var(--accent-color);

  transform: translate(-3rem, 0.75rem);

  transition: background-color 0.5s;
  z-index: -1;
  opacity: 0.32;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.55rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 0.6rem;
}

@media (max-width: 700px) {
  p {
    font-size: 1.15rem;
  }

  h1 {
    font-size: 3.4rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  h2::before {
    height: 1.05rem;
    width: calc(100% + 4rem);
    transform: translate(-2rem, 0.85rem);
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 3.2rem;
  }
}

button {
  background-color: transparent;
  color: inherit;
  font: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}

strong {
  font-weight: 700;
  font-size: inherit;
  background: linear-gradient(
    to right,
    var(--accent-color),
    var(--secondary-accent-color)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blur-background {
  border: 0.125rem solid var(--dim-accent-color);
  border-radius: 2rem;
  background-color: var(--dim-background-color);
  backdrop-filter: blur(0.5rem) saturate(150%) brightness(96%);

  transition:
    backdrop-filter 0.5s,
    background-color 0.5s,
    border-color 0.5s;

  overflow: hidden;
}

.blur-background:hover {
  backdrop-filter: blur(0.5rem) saturate(200%) brightness(104%);
}

.no-select,
.no-select * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
