.base {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;

  color: var(--foreground-color);
  font-family: var(--body-font);

  background-color: var(--background-color);
  background-image: url('/static/background.svg');
  background-repeat: repeat-y;
  background-attachment: local;
  background-size: 100vw, 100%;

  transition: background-color 0.5s;
}

.base ::-webkit-scrollbar {
  height: 0;
  width: 0;
}
