.base {
  height: 100%;

  overflow-y: scroll;
  scroll-behavior: smooth;

  background-color: var(--primary-color);
  background-image: url('/background.svg');
  background-repeat: repeat-y;
  background-attachment: local;
  background-size: 100%;
  transition:
    background-color 0.5s,
    background-image 0.5s;
}

.base::after {
  content: '';
  background: radial-gradient(
    var(--accent-color),
    var(--dim-accent-color) 40%,
    #ffffff00 60%
  );
  border-radius: 50%;

  position: absolute;
  top: calc(var(--y, 0) * 1px - 30rem);
  left: calc(var(--x, 0) * 1px - 30rem);

  width: 60rem;
  height: 60rem;

  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.base:hover::after {
  opacity: 0.08;
}

@media (pointer: coarse) {
  .base::after {
    display: none;
  }
}

.base::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--dim-primary-color);
}

.base::-webkit-scrollbar-thumb {
  background-color: var(--secondary-accent-color);
}
