.base {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.8rem;
  height: 2.8rem;
  padding: 6%;

  border: 0.23rem solid var(--dim-accent-color);
  border-radius: 50%;

  transition: border-color 0.5s;
}

.base > * {
  transition:
    fill 0.5s,
    scale 0.25s ease-out;
}

.noBorder {
  border: none;
  border-radius: 0;
  padding: 0;
}

.base:hover {
  border-color: var(--accent-color);
}

.base:hover > * {
  scale: 1.04;
}

.base:active > * {
  scale: 0.96;
}

.base > svg {
  height: 100%;
  width: 100%;
}
