.base {
  display: flex;
  align-items: center;
  justify-content: center;

  fill: var(--primary-color);
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;

  border: 0.225rem solid var(--primary-color);
  border-radius: 0.9rem;

  transition: transform 0.1s ease-in-out;
}

.noBorder {
  border: none;
  border-radius: 0;
  padding: 0;
}

.base:hover {
  transform: scale(1.03);
}

.base:active {
  transform: scale(0.98);
}

.base > svg {
  height: 100%;
  width: 100%;
}
