.base {
  position: relative;
}

.base.singleImage .previousImage,
.base.singleImage .nextImage,
.base.singleImage .dots {
  display: none;
}

.container {
  width: 100%;

  transition:
    border 0.5s,
    opacity 0.5s;
}

.content {
  display: flex;
  overflow-x: scroll;

  width: 100%;
  height: 100%;
  object-fit: contain;

  animation: setup-scroll 0s 1s forwards;
}

.base:hover .previousImage,
.base:hover .nextImage {
  opacity: 1;
}

@media (hover: none) {
  .base .previousImage,
  .base .nextImage {
    opacity: 1;
  }
}

.content img {
  scroll-snap-align: start;
}

.previousImage,
.nextImage {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2.25rem;

  opacity: 0;
  filter: drop-shadow(0 0 0.2rem var(--dark-color));
  transition:
    transform 0.1s ease-in-out,
    opacity 0.2s 0.1s;
  z-index: 1;
}

.previousImage {
  left: 0;
  padding-left: 0.5rem;
}

.previousImage svg {
  transform: rotate(180deg);
}

.nextImage {
  right: 0;
  padding-right: 0.5rem;
}

.dots {
  position: absolute;
  bottom: 1.2rem;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 0.7rem;
  margin: auto;
}

.dots button {
  width: 0.9rem;
  height: 0.9rem;
  padding: 0;
  border-radius: 50%;
  border: 0.2rem solid var(--light-color);
  filter: drop-shadow(0 0 0.35rem var(--dark-color));
  transition:
    background-color 0.5s,
    border-color 0.5s;
}

.dots button.selected {
  border-color: transparent;
  background-color: var(--light-color);
}

@keyframes setup-scroll {
  to {
    scroll-snap-type: x mandatory;
  }
}
