.base {
  height: 100%;
  width: 100%;
  object-fit: contain;

  padding: 0.8rem;
  border-radius: 1.5rem;
  border: 0.25rem solid var(--dim-accent-color);

  transition:
    border 0.5s,
    opacity 0.3s ease-out;
}

.base.noBorder {
  border: none;
  border-radius: 0;
  padding: 0;
}

main[dark='true'] .base {
  filter: brightness(0.8) contrast(1.2);
}
