header.base {
  height: 22rem;
  width: 58rem;
  margin: 0 auto;
  padding: 3rem 0;

  opacity: 0.25;
  animation: landing-initial-load 0.4s ease 0.2s forwards;
}

.info {
  align-self: flex-start;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  transform: translateY(10rem);

  transition:
    transform 0.2s,
    opacity 0.2s;

  opacity: 0;
  pointer-events: none;
  transform: none;
}

p.presentation {
  font-size: 1.2rem;
  max-width: 28rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  margin-top: 1rem;

  scale: 1.2;
  transition:
    transform 0.3s,
    opacity 0.2s;

  animation: appear-cta-buttons 0.8s ease forwards;
}

@keyframes appear-cta-buttons {
  from,
  30% {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.avatar {
  position: absolute;
  top: 0;
  right: 0;

  height: 20rem;
  width: 20rem;

  background-clip: content-box;

  transition:
    transform 0.25s ease,
    border 0.5s;

  transform: translate(6.5rem, -7.5rem) scale(0.16);
  pointer-events: all;
  z-index: 2;
}

main[top='true'] .avatar {
  transform: translate(calc(27rem - 50vw), 10.5rem);
  pointer-events: none;
}

.avatar > button {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.avatar > button > svg {
  position: absolute;
  top: -0.15rem;
  left: 0;
  height: 100%;
  width: 100%;

  opacity: 1;
  transform: scale(0.9);

  transition:
    transform 0.3s,
    opacity 0.3s;

  pointer-events: none;
}

.avatar > button > img {
  border-width: 0.5rem;
  border-radius: 55% 45% 54% 46% / 54% 41% 59% 46%;
  filter: grayscale(15%);

  opacity: 0;
}

main[top='true'] .avatar > button > svg {
  opacity: 0.5;
  transform: scale(1.12);
}

main[top='true'] .avatar > button > img {
  opacity: 1;
}

main[top='true'] .info {
  opacity: 1;
  pointer-events: all;
  transform: translateY(10rem);
}

@media (max-width: 900px) {
  header.base {
    width: 100%;
    padding: 3rem 1rem;
    justify-content: flex-end;
  }

  main[top='true'] .info {
    align-self: center;
    transform: translateY(25rem);
  }

  main[top='true'] .avatar {
    transform: translate(calc(10rem - 50vw), 4rem) scale(0.8);
  }
}

@media (max-width: 700px) {
  .buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .avatar {
    transform: translate(7rem, -8rem) scale(0.14);
  }

  main[top='true'] .avatar {
    transform: translate(calc(10rem - 50vw), 4rem) scale(0.66);
  }
}

@media (max-height: 800px) and (max-width: 700px) {
  .buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .avatar {
    transform: translate(7rem, -8rem) scale(0.14);
  }

  main[top='true'] .info {
    align-self: center;
    transform: translateY(19rem) scale(0.8);
  }

  main[top='true'] .avatar {
    transform: translate(calc(10rem - 50vw), 1.8rem) scale(0.6);
  }
}

@media (max-height: 800px) and (min-width: 700px) {
  main[top='true'] .avatar {
    transform: translate(calc(24rem - 50vw), 4.5rem) scale(0.8);
  }

  main[top='true'] .info {
    align-self: flex-start;
    transform: translateY(4rem) scale(0.8);
  }
}

@keyframes landing-initial-load {
  to {
    opacity: 1;
  }
}
