p.base {
  text-wrap: pretty;
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.4;

  transition: color 0.5s;
}

h1.base {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 5.4rem;

  letter-spacing: 0.1rem;
  line-height: 1.15;
  text-shadow: 0.24rem 0.24rem 0.1rem var(--dim-accent-color);

  transition:
    color 0.5s,
    text-shadow 0.5s,
    opacity 0.2s;
}

.base:is(h2, h3, h4, h5, h6) {
  font-family: var(--subtitle-font);
  font-weight: 400;
  line-height: 1;
}

.base:is(h4, h5, h6) {
  font-weight: 400;
}

h2.base {
  font-size: 3rem;
  font-style: italic;
  text-align: center;
}

h2.base::after {
  content: '';
  display: block;
  width: calc(100% + 2rem);
  height: 0.8rem;

  margin: auto;
  border-radius: 0.5rem;
  border-bottom-right-radius: 200%;
  border-bottom-left-radius: 1rem;
  background-color: var(--dim-accent-color);

  transform: translateX(-1rem);

  transition: background-color 0.5s;
}

h3.base {
  font-size: 2.1rem;
}

h4.base {
  font-size: 1.8rem;
}

h5.base {
  font-size: 1.5rem;
}

h6.base {
  font-size: 0.6rem;
}

@media (max-width: 700px) {
  h1.base {
    font-size: 2.8rem;
  }

  h2.base {
    font-size: 2.2rem;
  }

  h3.base {
    font-size: 1.8rem;
  }

  h4.base {
    font-size: 1.6rem;
  }
}
